.footer {
  color: gray;
}

.breaker {
  display: flex;
  flex-direction: row;
  width: 100%;
  color: #8e8e8e;
  justify-content: space-between;
  margin-top: 1rem;
}

.division_line {
  width: 5.5rem;
  height: 1px;
  background-color: #dbdbdb;
  border-style: none;
  margin-left: 0;
  margin-right: 0;
}

.post, .nav_bar, .form_container, .q_account, .input_search {
  border: 1px solid rgba(var(--b6a, 219, 219, 219), 1);
  border-radius: 3px;
}

body {
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
}

p, h3, h4 {
  margin: 0;
}

main {
  width: 70rem;
  margin: auto;
}

header {
  width: 100%;
  height: 3rem;
  background-color: white;
}

button {
  border-style: none;
  background-color: transparent;
}

button {
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.btn_show {
  border-style: none;
  background-color: #fafafa;
  font-weight: 600;
}
.btn_login {
  background-color: #0095f6;
  border: transparent solid 1px;
  border-radius: 3px;
  color: white;
  width: 15rem;
  height: 1.5rem;
  margin-top: 0.5rem;
  font-size: 0.7rem;
  font-weight: 600;
}
.btn_login_fb {
  color: #385185;
  background-color: transparent;
  border-style: none;
  margin: 1rem 0;
  font-weight: 600;
}
.btn_download {
  height: 2.3rem;
  margin: 0.2rem;
}
.btn_save {
  margin-left: auto;
}
.btn_postit {
  margin-left: auto;
  margin-right: 0.8rem;
  color: #0095f6;
}

.forgot_pass {
  text-decoration: none;
  color: #385185;
  font-size: 0.6rem;
  margin-top: 0.5rem;
}

.register_link {
  color: #0095f6;
  text-decoration: none;
  font-weight: 600;
}

.like_btn {
  margin-left: auto;
  margin-right: 1rem;
  background-color: transparent;
}

.post_btn_options {
  margin-right: 0.8rem;
  font-size: 2rem;
}

.home_btn_container {
  gap: 0.5rem;
}

.preview_wrapper {
  background-image: url("../../assets/mobileContainer.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  width: 25rem;
  height: 34rem;
}

.post_user_img {
  height: 2rem;
}
.post_img {
  width: 100%;
  height: auto;
}

.user_img {
  height: 1.7rem;
}

.container_input {
  background-color: #fafafa;
  border: 1px solid #a4a6a9;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 2rem;
  width: 15rem;
  margin-bottom: 0.3rem;
}

.input {
  border: none;
  background-color: #fafafa;
  outline: none;
}
.input_title {
  color: #a4a6a9;
  margin: 0rem;
  font-size: 0.4rem;
}
.input_search {
  background-color: #fafafa;
  outline: none;
  text-align: center;
  height: 1.7rem;
  width: 12.5rem;
}
.input_comment {
  border: none;
  outline: none;
  margin-left: 0.5rem;
}

.logo_wrapper {
  padding: 0rem 5rem;
}

.ig_logo {
  width: 100%;
  margin-top: 0.5rem;
}

.icon_fb {
  height: 100%;
}

.nav_logo_wrapper {
  width: 6rem;
}

.main_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
}

.content_area {
  width: 20rem;
  height: 30rem;
}

.login_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.login_container_fb {
  display: flex;
  flex-direction: row;
  height: 1rem;
  align-items: center;
  margin: 1rem 0;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1px;
  padding-bottom: 1rem;
  background-color: white;
}

.log_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.q_account {
  border-radius: 1px;
  padding-bottom: 1rem;
  background-color: white;
  width: 100%;
  margin: 0.6rem 0;
  text-align: center;
  font-size: 0.82rem;
  padding: 1.5rem 0;
}

.download_app {
  font-size: 0.82rem;
  text-align: center;
  margin-top: 0.5rem;
}

.btn_container_download {
  margin-top: 1rem;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.footer_list {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.item_footer {
  margin: 0.5rem;
}

.nav_bar {
  width: 100%;
  height: 3rem;
  position: fixed;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.home_btn_container {
  display: flex;
  flex-direction: row;
}

.post {
  width: 36rem;
  margin: 5rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  background-color: white;
}
.post_title_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.post_user_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.post_user_name {
  margin-left: 0.8rem;
  margin-right: 0.5rem;
  color: #262626;
}
.post_user_img {
  margin-left: 0.8rem;
}
.post_interaction_container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0rem 1rem;
}
.post_timer {
  margin-left: 0.8rem;
  color: gray;
  font-size: 0.8rem;
}

.caption_container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.counter_likes_container {
  margin-left: 0.8rem;
}
.counter_comments_container {
  color: gray;
  margin-left: 0.8rem;
}

.comment {
  display: flex;
  flex-direction: row;
  margin-left: 0.8rem;
  color: #262626;
}
.comment_post_container {
  display: flex;
  flex-direction: row;
  padding-left: 0.8rem;
  border-top: 1px solid lightgray;
  height: 3rem;
}/*# sourceMappingURL=index.css.map */