$logoAssembler: 'https://pbs.twimg.com/profile_images/1355306722429181966/4fYyGC3D.jpg';
$logoPython: 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Python.svg/1200px-Python.svg.png';
$samplePhoto: 'https://previews.123rf.com/images/aquir/aquir1311/aquir131100316/23569861-sample-grunge-red-round-stamp.jpg';
