@import "home";
//My classes
//FLEX
.display-flex {
    display: flex;
}

.flex-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-content-center {
    justify-content: center;
}

.flex-content-space-around {
    justify-content: space-around;
}

//Nesting
.all-class {
    .containerLoginAll-class {
        background-color: rgb(182, 127, 255);
        height: 745.32px;
        width: 1111.49px;
        .row-all-class {
            .containerLeftAll-class {
                background-color: rgb(255, 225, 127);
                height: 618px;
                width: 454px;
                .logInAll-class {}
            } //containerLeftAll-class 
            .containerRightAll-class {
                background-color: rgb(255, 138, 127);
                height: 606px;
                width: 350px;
                margin-top: 12px;
            } //containerRightAll-class
        } //row-all-class
        .containerDowntAll-class {
            background-color: rgb(127, 255, 155);
            height: 98.32px;
            width: 1079.49px;
        } //containerDowntAll-class
    } //containerLoginAll-class
} //all-class