* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
}

body {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  z-index: 1;
}
header div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
header div #logo {
  width: 39%;
  display: flex;
  justify-content: flex-start;
}
header div #logo img {
  min-height: 25px;
}
header div #buscador {
  width: 22%;
}
header div #buscador input {
  width: 100%;
}
header div #menu {
  width: 39%;
  display: flex;
  justify-content: flex-end;
  min-height: 40px;
}
header div #menu div {
  width: 12%;
}
header div #menu div svg path {
  background-color: #000;
}
header div #menu #menu-profile div {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  align-items: center;
  justify-content: center;
  background-image: url("https://pbs.twimg.com/profile_images/1355306722429181966/4fYyGC3D.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

main {
  margin-top: 6rem;
  width: 50%;
  display: flex;
}
main div {
  width: 65%;
  display: flex;
  flex-direction: column;
}
main div .stories {
  background-color: #fff;
  width: 100%;
  height: 7rem;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  position: relative;
  border: 1px solid #e0e0e0;
}
main div .stories .more-less-stories {
  position: absolute;
  top: 40%;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #485375;
  box-shadow: 0px 0px 20px -5px #485375;
  background-color: #fff;
}
main div .stories .prev-stories {
  position: sticky;
  left: 1%;
}
main div .stories .post-stories {
  position: sticky;
  left: 95%;
}
main div .stories article {
  display: inline-block;
  position: relative;
  left: -3.3rem;
  width: 5rem;
  height: 100%;
}
main div .stories article div {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  align-items: center;
  justify-content: center;
}
main div .posts {
  margin-top: 2rem;
}
main div .posts article {
  background-color: #fff;
  min-height: 800px;
  margin-bottom: 4rem;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 0px 1px;
}
main div .posts article div {
  width: 100%;
}
main div .posts article .post-title {
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px 0px 0px 0px;
}
main div .posts article .post-title .profile-img {
  min-width: 5%;
  padding: 1%;
}
main div .posts article .post-title .profile-img div {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  align-items: center;
  justify-content: center;
}
main div .posts article .post-title .profile-user {
  min-width: 85%;
  display: flex;
  justify-content: center;
}
main div .posts article .post-title .profile-user div {
  padding-left: 1rem;
  font-weight: bold;
}
main div .posts article .post-title .profile-more {
  display: flex;
  justify-content: center;
}
main div .posts article .post-title .profile-more div {
  align-items: center;
}
main div .posts article .post-photo {
  min-height: 48rem;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px 0px;
  background-image: url("https://previews.123rf.com/images/aquir/aquir1311/aquir131100316/23569861-sample-grunge-red-round-stamp.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
main div .posts article .post-actions {
  display: flex;
  flex-direction: row;
  min-height: 2.5rem;
}
main div .posts article .post-actions .buttons {
  width: 20%;
  display: flex;
  flex-direction: row;
}
main div .posts article .post-actions .buttons div {
  align-items: center;
  justify-content: center;
}
main div .posts article .post-actions .gallery {
  width: 60%;
  align-items: center;
  justify-content: center;
}
main div .posts article .post-actions .gallery .buttons {
  flex-direction: row;
  max-height: 10px;
  align-items: center;
  justify-content: center;
}
main div .posts article .post-actions .gallery .buttons div {
  margin: 0rem 0.2rem;
}
main div .posts article .post-actions .gallery .buttons .circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: #a8a8a8;
}
main div .posts article .post-actions .gallery .buttons .selected {
  background-color: #0095f6;
}
main div .posts article .post-actions .save {
  width: 20%;
  align-items: flex-end;
  justify-content: center;
  margin-right: 0.5rem;
}
main div .posts article .post-likes {
  min-height: 2rem;
  padding: 0rem 0.5rem;
  flex-direction: row;
  align-items: center;
}
main div .posts article .post-likes a {
  font-weight: bold;
  text-decoration: none;
  color: #000;
}
main div .posts article .post-likes .profile {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid #e0e0e0;
  align-items: center;
  justify-content: center;
}
main div .posts article .post-likes p {
  margin-left: 0.5rem;
}
main div .posts article .post-description {
  min-height: 2.5rem;
}
main div .posts article .post-comment-counter {
  min-height: 2rem;
}
main div .posts article .post-comments {
  min-height: 6rem;
}
main div .posts article .post-comment-timer {
  min-height: 1.5rem;
}
main div .posts article .post-add-comment {
  min-height: 3rem;
  border-style: solid;
  border-color: #e0e0e0;
  border-width: 1px 0px;
}
main aside {
  width: 35%;
}

.profile-img-1 {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/0/0a/Python.svg/1200px-Python.svg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

/*# sourceMappingURL=styles.css.map */
