@use 'mixins';
@use 'colors';
@use 'images';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9rem;
  // outline: 1px solid red !important;
}

body{
  background-color: colors.$bg;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  width: 100%;
  background-color: colors.$white;
  border-bottom: 1px solid colors.$border;
  padding: 8px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  z-index: 1;

  div{
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;


    #logo {
      width: 39%;
      display: flex;
      justify-content: flex-start;

      img {
        min-height: 25px;
      }
    }

    #buscador {
      width: 22%;

      input {
        width: 100%;
      }
    }

    #menu {
      width: 39%;
      display: flex;
      justify-content: flex-end;
      min-height: 40px;

      div {
        width:12%;

        svg {
          path {
            background-color: #000;
          }
        }
      }

      #menu-profile {
        div {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: 1px solid colors.$border;
          align-items: center;
          justify-content: center;

          @include mixins.backgroundImage(images.$profileOne);
        }
      }
    }
  }
}

main {
  margin-top: 6rem;
  width: 50%;
  display: flex;

  div {
    width: 65%;
    display: flex;
    flex-direction: column;

    .stories {
      background-color: colors.$white;
      width: 100%;
      height: 7rem;
      overflow: hidden;
      overflow-x: hidden;
      white-space: nowrap;
      position: relative;
      border: 1px solid colors.$border;
      padding: 1rem;

      .more-less-stories {
        position: absolute;
        top: 30%;
        width: 1.5rem;
        height: 1.5rem;
        border: none;
        border-radius: 50%;
        align-items: center;
        justify-content: center;
        color: colors.$buttonsTextColor;
        box-shadow: 0px 0px 20px -5px colors.$buttonsTextColor;
        background-color: colors.$white;
      }

      .prev-stories {
        position: sticky;
        left: 1%;
      }

      .post-stories {
        position: sticky;
        left: 95%;
      }

      article {
        display:inline-block;
        position: relative;
        left: -3.3rem;
        width: 5rem;
        height: 100%;

        .stories-profile {
          position: absolute;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          border: 2px solid colors.$white;
          align-items: center;
          justify-content: center;
          background-color: colors.$white;
        }

        .have-storie {
          position: absolute;
          width: 60px;
          height: 60px;
          margin: -5px;
          border-radius: 50%;
          border: 2px solid colors.$white;
          align-items: center;
          justify-content: center;
          background: linear-gradient(to right top, #fa9c4b, #ca308f);
        }

        p {
          position: absolute;
          bottom: 0px;
          font-size: 0.8rem;
        }
      }
    }

    .posts{
      margin-top: 2rem;

      a {
        font-weight: bold;
        text-decoration: none;
        color: colors.$black;
      }

      .more {
        color: colors.$gray;
      }

      article {
        background-color: colors.$white;
        min-height: 800px;
        margin-bottom: 4rem;
        border-style: solid;
        border-color: colors.$border;
        border-width: 0px 1px;

        div {
          width: 100%;
        }

        .post-title {
          display: flex;
          flex-direction: row;
          border-style: solid;
          border-color: colors.$border;
          border-width: 1px 0px 0px 0px;


          .profile-img {
            min-width: 5%;
            padding: 1%;

            div {
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 50%;
              border: 1px solid colors.$white;
              align-items: center;
              justify-content: center;
            }
          }

          .profile-user {
            min-width: 85%;
            display: flex;
            justify-content: center;

            div {
              padding-left: 1rem;
              font-weight: bold;
            }
          }

          .profile-more {
            display: flex;
            justify-content: center;

            div {
              align-items: center;
            }
          }
        }

        .post-photo {
          min-height: 48rem;
          border-style: solid;
          border-color: colors.$border;
          border-width: 1px 0px;

          @include mixins.backgroundImage(images.$samplePhoto);
        }

        .post-actions {
          display: flex;
          flex-direction: row;
          min-height: 2.5rem;

          .buttons {
            width: 20%;
            display: flex;
            flex-direction: row;

            div {
              align-items: center;
              justify-content: center;
            }
          }

          .gallery {
            width: 60%;
            align-items: center;
            justify-content: center;

            .buttons {
              flex-direction: row;
              max-height: 10px;
              align-items: center;
              justify-content: center;

              div {
                margin: 0rem 0.2rem;
              }

              .circle {
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: colors.$grayButton;
              }
  
              .selected {
                background-color: colors.$blue;
              }
            }
          }

          .save {
            width: 20%;
            align-items: flex-end;
            justify-content: center;
            margin-right: 0.5rem;
          }
        }

        .post-likes {
          min-height: 2rem;
          padding: 0rem 0.5rem;
          flex-direction: row;
          align-items: center;

          .profile {
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 50%;
            border: 1px solid colors.$border;
            align-items: center;
            justify-content: center;
          }

          p {
            margin-left: 0.5rem;
          }
        }

        .post-description {
          min-height: 2.5rem;
          padding: 0rem 1rem;

        }

        .post-comment-counter {
          min-height: 2rem;
          padding: 0rem 1rem;
        }

        .post-comments {
          max-height: 6rem;
          padding: 0rem 1rem;

          .comment {
            flex-direction: row;

            p {
              width: 90%;
            }

            div{
              width: 10%;
              align-items: flex-end;

              svg {
                width: 12px;
              }
            }
          }
        }

        .post-comment-timer {
          min-height: 1.5rem;
          padding: 0rem 1rem;

          span {
            font-size: 0.6rem;
          }
        }

        .post-add-comment {
          min-height: 4rem;
          padding: 0rem 1rem;
          border-style: solid;
          border-color: colors.$border;
          border-width: 1px 0px;
          flex-direction: row;

          div {
            align-items: center;
            justify-content: center;
          }

          .comment-smile {
            width: 5%;
            align-items: flex-start;
          }

          .comment-input {
            width: 85%;

            textarea {
              width: 100%;
              height: 80%;
              color: colors.$gray;
              border: 0;
              text-decoration: none;
              border: none;
              overflow: auto;
              outline: none;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              box-shadow: none;
              resize: none;
            }
          }

          .comment-public {
            width: 10%;
            font-weight: bold;
            color: colors.$blue;
          }
        }
      }
    }
  }

  aside {
    width: 35%;
    position: relative;
    padding: 0 1rem;

    .aside-profile {
      flex-direction: row;
      width: 100%;
      margin-top: 1rem;
    }

    .aside-profile-img {
      width: 15%;
      height: 3.5rem;
      border-radius: 50%;
      border: 1px solid colors.$border;
      align-items: center;
      justify-content: center;

      @include mixins.backgroundImage(images.$profileOne);
    }

    .aside-profile-name {
      width: 65%;
      justify-content: center;
      padding-left: 0.5rem;
    }

    .aside-change {
      width: 20%;
      justify-content: center;
      align-items: flex-end;
      color: colors.$blue;
    }

    .aside-username {
      font-weight: bold;
    }

    .aside-fullname {
      color: colors.$gray;
    }

    .aside-suggest-title {
      flex-direction: row;
      width: 100%;
      margin-top: 1rem;

      p:first-child {
        width: 84%;
        text-align: start;
        font-weight: bold;
        color: colors.$gray;
      }
      
      p {
        color: colors.$black;
      }
    }

    .aside-small-profile-img {
      width: 15%;
      height: 3rem;
      border-radius: 50%;
      border: 1px solid colors.$border;
      align-items: center;
      justify-content: center;
    }

    .aside-small-profile-name {
      width: 70%;
      justify-content: center;
      padding-left: 0.5rem;
    }

    .aside-follow {
      width: 15%;
      align-items: flex-end;
      justify-content: center;
      color: colors.$blue;
    }

    .aside-extra-info {
      width: 100%;
      color: colors.$gray;
      margin-top: 2rem;

      p {
        margin-bottom: 1rem;
        font-size: 0.8rem;
        opacity: 0.5;
      }
    }
  }
}

.profile-img-1 {
  @include mixins.backgroundImage(images.$profileOne);
}

.profile-img-2 {
  @include mixins.backgroundImage(images.$profileTwo);
}

.profile-img-3 {
  @include mixins.backgroundImage(images.$profileThree);
}

.profile-img-4 {
  @include mixins.backgroundImage(images.$profileFour);
}

.profile-img-5 {
  @include mixins.backgroundImage(images.$profileFive);
}

.profile-img-6 {
  @include mixins.backgroundImage(images.$profileSix);
}

.profile-img-7 {
  @include mixins.backgroundImage(images.$profileSeven);
}

.profile-img-8 {
  @include mixins.backgroundImage(images.$profileEight);
}

.profile-img-9 {
  @include mixins.backgroundImage(images.$profileNine);
}

.profile-img-10 {
  @include mixins.backgroundImage(images.$profileTen);
}

.profile-img-11 {
  @include mixins.backgroundImage(images.$profileEleven);
}

.profile-img-12 {
  @include mixins.backgroundImage(images.$profileTwelve);
}

.profile-img-13 {
  @include mixins.backgroundImage(images.$profileThirteen);
}

