@import "home";
//My classes
//FLEX
.display-flex {
    display: flex;
}

.flex-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-content-center {
    justify-content: center;
}

.flex-content-space-around {
    justify-content: space-around;
}

//BORDER
.border-for-building {
    border: 1px solid rgb(255, 2, 2)
}

//Containers
.all-class {
    .containerLoginAll-class {
        background-color: rgb(182, 127, 255);
        height: 745.32px;
        width: 1111.49px;
        .row-all-class {
            .containerLeftAll-class {
                background-color: rgb(255, 225, 127);
                height: 618px;
                width: 454px;
            } //containerLeftAll-class 
            .containerRightAll-class {
                background-color: rgb(255, 138, 127);
                height: 606px;
                width: 350px;
                margin-top: 12px;
            } //containerRightAll-class
        } //row-all-class
        .containerDowntAll-class {
            background-color: rgb(127, 255, 155);
            height: 98.32px;
            width: 1079.49px;
        } //containerDowntAll-class
    } //containerLoginAll-class
} //all-class
//Log IN
.logInAll-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: blue;
    border: px solid black;
    //HERE
    .logInForm-class {
        //HERE
        background-color: rgb(30, 255, 0);
        text-align: center;
        .logInTitleForm-class {
            display: flex;
            justify-content: space-around;
            color: white;
        }
        .form-class {
            display: flex;
            flex-direction: column;
            border: 5px solid rgb(212, 182, 11);
            width: 70%;
            margin: 0 auto;
            .input-user {
                display: flex;
                flex-direction: row;
                background-color: yellow;
                position: relative;
                width: 98%;
                margin: 2px 2px 2px 2px;
                input {
                    // position: absolute;
                    width: 95%;
                    background-color: transparent;
                    border: 0px solid transparent;
                }
                .empty {
                    width: 4%;
                    background-color: rgb(14, 171, 219);
                }
            }
            .input-password {
                display: flex;
                flex-direction: row;
                background-color: rgb(211, 145, 24);
                position: relative;
                width: 100%;
                input {
                    // position: absolute;
                    width: 100%;
                    background-color: transparent;
                    border: 0px solid transparent;
                }
                .my-password-class {
                    color: rgb(179, 245, 179);
                    width: 73%;
                }
                .show-button-class {
                    color: rgb(245, 179, 210);
                    width: 25%;
                }
            }
            .logIn-button-class {
                display: flex;
                flex-direction: row;
                position: relative;
                width: 100%;
                button {
                    // position: absolute;
                    width: 100%;
                }
            }
            .other-options-class {
                display: flex;
                justify-content: space-around;
                background-color: yellowgreen;
            }
        }
    }
    .accountIg-class {
        background-color: crimson;
    }
    .getAppIg-class {
        background-color: rgb(220, 217, 20);
    }
}