* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.home {
  background-color: #fafafa;
  font-family: "Arimo", sans-serif;
}

header {
  height: 54px;
  padding: 0 20px;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-evenly;
}
header .header-search-class {
  position: relative;
  display: flex;
  justify-content: center;
  width: 215px;
  min-width: 125px;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
}
header .header-search-class span,
header .header-search-class .fas {
  z-index: 3;
}
header input {
  background-color: transparent;
  border: 0px solid #fafafa;
  width: 90%;
  position: absolute;
  outline: none;
}
header img {
  height: 32px;
  margin-left: 10px;
}
header .nav-profile-class {
  height: 32px;
  width: 32px;
  border-radius: 25px;
  background-image: url("../assets/img/user_profile.jpg");
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin-left: 10px;
}

main {
  display: flex;
  width: 640px;
}

.article-post-class {
  display: flex;
  flex-direction: column;
}
.article-post-class .post-top-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 640px;
  padding: 16px;
  background-color: white;
  border-radius: 3px 3px 0 0;
  border-top: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
.article-post-class .post-top-class .post-user-class {
  justify-content: space-between;
}
.article-post-class .post-top-class .post-user-class .post-user-profile-class-1 {
  height: 32px;
  width: 32px;
  border-radius: 25px;
  background-image: url("../assets/img/mishis.jpg");
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin-right: 15px;
}
.article-post-class .post-top-class .post-user-class h2 {
  font-size: 0.9rem;
}
.article-post-class .post-top-class span {
  font-size: 2rem;
  margin-top: -10px;
}
.article-post-class img {
  width: 640px;
}

aside {
  min-width: 240px;
}

.display-flex {
  display: flex;
}

.flex-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-content-center {
  justify-content: center;
}

.flex-content-space-around {
  justify-content: space-around;
}

.border-for-building {
  border: 1px transparent #ff0202;
}

.border-for-instagram {
  border: 1px solid #dbdbdb;
}

.all-class .containerLoginAll-class {
  background-color: white;
  height: 745.32px;
  width: 1111.49px;
}
.all-class .containerLoginAll-class .row-all-class .containerLeftAll-class {
  height: 618px;
  width: 454px;
}
.all-class .containerLoginAll-class .row-all-class .containerRightAll-class {
  height: 606px;
  width: 350px;
  margin-top: 12px;
}
.all-class .containerLoginAll-class .containerDowntAll-class {
  height: 98.32px;
  width: 1079.49px;
}

.logInAll-class {
  height: 606px;
  width: 220px;
}
.logInAll-class .logInForm-class {
  text-align: center;
}
.logInAll-class .logInForm-class .form-class {
  width: 70%;
  margin: 0 auto;
}
.logInAll-class .logInForm-class .form-class .input-user {
  background-color: #e8f0fe;
  border: 1px solid black;
  border-radius: 3px;
  position: relative;
  width: 98%;
  margin: 2px 2px 2px 2px;
}
.logInAll-class .logInForm-class .form-class .input-user input {
  width: 95%;
  background-color: transparent;
  border: 0px solid transparent;
  border-radius: 3px;
}
.logInAll-class .logInForm-class .form-class .input-user .empty {
  width: 4%;
}
.logInAll-class .logInForm-class .form-class .input-password {
  background-color: #e8f0fe;
  border: 1px solid black;
  border-radius: 3px;
  position: relative;
  width: 99%;
}
.logInAll-class .logInForm-class .form-class .input-password input {
  width: 100%;
  background-color: transparent;
  border: 0px solid transparent;
}
.logInAll-class .logInForm-class .form-class .input-password .my-password-class {
  width: 73%;
}
.logInAll-class .logInForm-class .form-class .input-password .show-button-class {
  width: 25%;
}
.logInAll-class .logInForm-class .form-class .input-password .show-button-class button {
  height: 85%;
  width: 100%;
  font-size: x-small;
  border-radius: 3px;
}
.logInAll-class .logInForm-class .form-class .logIn-button-class {
  position: relative;
  width: 100%;
}
.logInAll-class .logInForm-class .form-class .logIn-button-class button {
  width: 100%;
  font-size: x-small;
  border-radius: 3px;
}
.logInAll-class .logInForm-class .form-class .other-options-class {
  font-size: xx-small;
  color: gray;
}
.logInAll-class .logInForm-class .form-class .logInWithFacebook-class {
  font-size: x-small;
}
.logInAll-class .logInForm-class .form-class .logInWithFacebook-class a {
  font-size: xx-small;
  text-decoration: none;
  color: blue;
}
.logInAll-class .logInForm-class span p {
  font-size: xx-small;
  text-decoration: none;
  color: black;
}
.logInAll-class .logInForm-class span a {
  font-size: xx-small;
  text-decoration: none;
  color: blue;
}
.logInAll-class .accountIg-class {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  font-size: x-small;
}
.logInAll-class .getAppIg-class {
  text-align: center;
  margin-top: 20px;
  font-size: xx-small;
  width: 100%;
}
.logInAll-class .getAppIg-class .download-app-img-class {
  width: 100%;
  height: 100px;
  margin-top: 20px;
}

.containerDowntAll-class {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: x-small;
  color: gray;
}
.containerDowntAll-class .footer-first-line-class {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
}
.containerDowntAll-class .footer-first-line-class a {
  color: gray;
  text-decoration: none;
}
.containerDowntAll-class .footer-second-line-class {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 12px;
  color: gray;
}
.containerDowntAll-class .footer-second-line-class a {
  color: gray;
  text-decoration: none;
}

.selector-copyright {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.selector-copyright select {
  width: 80px;
  color: gray;
}/*# sourceMappingURL=style.css.map */