* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-center {
  display: flex;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.home {
  background-color: #fafafa;
  font-family: "Arimo", sans-serif;
}

header {
  height: 54px;
  padding: 0 20px;
  border-bottom: 1px solid #dbdbdb;
  display: flex;
  justify-content: space-evenly;
}
header .header-search-class {
  position: relative;
  display: flex;
  justify-content: center;
  width: 215px;
  min-width: 125px;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  background-color: #fafafa;
}
header .header-search-class span,
header .header-search-class .fas {
  z-index: 3;
}
header input {
  background-color: transparent;
  border: 0px solid #fafafa;
  width: 90%;
  position: absolute;
  outline: none;
}
header img {
  height: 32px;
  margin-left: 10px;
}
header .nav-profile-class {
  height: 32px;
  width: 32px;
  border-radius: 25px;
  background-image: url("../assets/img/user_profile.jpg");
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin-left: 10px;
}

main {
  display: flex;
  justify-content: center;
}

.article-post-class {
  display: flex;
  flex-direction: column;
  margin: 25px 0;
}
.article-post-class .post-top-class {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 640px;
  padding: 16px;
  background-color: white;
  border-radius: 3px 3px 0 0;
  border-top: 1px solid #dbdbdb;
  border-left: 1px solid #dbdbdb;
  border-right: 1px solid #dbdbdb;
}
.article-post-class .post-top-class .post-user-class {
  justify-content: space-between;
}
.article-post-class .post-top-class .post-user-class .post-user-profile-class-1 {
  height: 32px;
  width: 32px;
  border-radius: 25px;
  background-image: url("../assets/img/mishis.jpg");
  background-position: center;
  background-size: cover;
  display: inline-block;
  margin-right: 15px;
}
.article-post-class .post-top-class .post-user-class h2 {
  font-size: 0.9rem;
}
.article-post-class .post-top-class span {
  font-size: 2rem;
  margin-top: -10px;
}
.article-post-class img {
  width: 640px;
}

.description-icons-class {
  display: flex;
}
.description-icons-class img {
  width: 32px;
}
.description-icons-class img:nth-child(4) {
  width: 28px;
  justify-self: flex-end;
}

aside {
  min-width: 240px;
}

.display-flex {
  display: flex;
}

.flex-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-content-center {
  justify-content: center;
}

.flex-content-space-around {
  justify-content: space-around;
}

.all-class .containerLoginAll-class {
  background-color: aquamarine;
  height: 745.32px;
  width: 1111.49px;
}
.all-class .containerLoginAll-class .row-all-class .containerLeftAll-class {
  background-color: #ffe17f;
  height: 618px;
  width: 454px;
}
.all-class .containerLoginAll-class .row-all-class .containerRightAll-class {
  background-color: #ff8a7f;
  height: 606px;
  width: 350px;
  margin-top: 12px;
}
.all-class .containerLoginAll-class .containerDowntAll-class {
  background-color: #7fff9b;
  height: 98.32px;
  width: 1079.49px;
}/*# sourceMappingURL=style.css.map */