@import "home";
//My classes
//FLEX
.display-flex {
    display: flex;
}

.flex-center {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-content-center {
    justify-content: center;
}

.flex-content-space-around {
    justify-content: space-around;
}

//BORDER
.border-for-building {
    border: 1px solid rgb(255, 2, 2)
}

.border-for-instagram {
    border: 3px solid rgba(117, 116, 116, 0.424);
}

//Containers
.all-class {
    .containerLoginAll-class {
        background-color: white;
        height: 745.32px;
        width: 1111.49px;
        .row-all-class {
            .containerLeftAll-class {
                background-color: white;
                height: 618px;
                width: 454px;
            } //containerLeftAll-class 
            .containerRightAll-class {
                background-color: white;
                height: 606px;
                width: 350px;
                margin-top: 12px;
            } //containerRightAll-class
        } //row-all-class
        .containerDowntAll-class {
            background-color: white;
            height: 98.32px;
            width: 1079.49px;
        } //containerDowntAll-class
    } //containerLoginAll-class
} //all-class
//Log IN
.logInAll-class {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 606px;
    width: 220px;
    //HERE
    .logInForm-class {
        //HERE
        background-color: white;
        text-align: center;
        //border: 2px solid rgb(117, 116, 116);
        .logInTitleForm-class {
            display: flex;
            justify-content: space-around;
            color: white;
        }
        .form-class {
            display: flex;
            flex-direction: column;
            width: 70%;
            margin: 0 auto;
            .input-user {
                display: flex;
                flex-direction: row;
                background-color: white;
                position: relative;
                width: 98%;
                margin: 2px 2px 2px 2px;
                input {
                    // position: absolute;
                    width: 95%;
                    background-color: transparent;
                    border: 0px solid transparent;
                }
                .empty {
                    width: 4%;
                    background-color: white;
                }
            }
            .input-password {
                display: flex;
                flex-direction: row;
                background-color: white;
                position: relative;
                width: 100%;
                input {
                    // position: absolute;
                    width: 100%;
                    background-color: transparent;
                    border: 0px solid transparent;
                }
                .my-password-class {
                    width: 73%;
                }
                .show-button-class {
                    width: 25%;
                }
            }
            .logIn-button-class {
                display: flex;
                flex-direction: row;
                position: relative;
                width: 100%;
                button {
                    // position: absolute;
                    width: 100%;
                }
            }
            .other-options-class {
                display: flex;
                justify-content: space-around;
                background-color: white;
            }
            .logInWithFacebook-class {
                font-size: x-small;
            }
        }
        span {
            font-size: x-small;
        }
    } //logInForm-class
    .accountIg-class {
        margin-top: 10px;
        text-align: center;
        background-color: white;
        width: 100%;
        font-size: x-small;
        //border: 5px solid rgb(212, 182, 11);
    }
    .getAppIg-class {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 20px;
        background-color: white;
        font-size: x-small;
        width: 100%;
        .download-app-img-class {
            background-color: white;
            width: 100%;
            height: 100px;
            margin-top: 20px;
        }
    }
} //logInAll-class