$background-container: #FFFFFF
$background-main: #FAFAFA
$border: 1px solid #DBDBDB
$color: #8E8E9C



// SASS LOGIN.HTML

*
     margin: 0
     padding: 0
     font-family: 'Montserrat', sans-serif
     //outline: solid 2px red
     font-size: 12px

body
     height: 100vh
     width: 100vw
     overflow: hidden
     font-size: 16px
     background-color: #FAFAFA

body > div     
     display: flex
     flex-direction: row
     width: 100%
     height: 85%

section.left
     width: 100%
     height: 100%
     padding: 0.5rem
     display: flex
     flex-direction: row
     align-items: center
     justify-content: flex-end

div.left__mockup
     //height: auto
     //width: 50%
     

div.left__mockup > img
     height: 480px

div.left__containerImages
     //background-image: url("../src/img/mockup.png")
     //margin: 150px 0 0 151px
     position: absolute
     //height: 500px
     height: 352px
     margin: 15px
     z-index: 2

div.left__containerImages > img
     height: 356px 
     right: 0
     opacity: 1
     position: absolute
     top: 0
     visibility: visible
     width: 200px

section.right    
     width: 100%
     height: 100%
     padding: 0.5rem  
main.login__login
     width: 50%
     max-width: 300px
     height: 100%
     display: flex
     flex-direction: column
     align-items: center
     justify-content: center

div.login
     width: auto
     height: auto
     border: $border
     margin-bottom: 0.5rem
     padding: 1.5rem
     background-color: $background-container


div.login__img
     width: auto
     height: auto
     display: flex
     flex-direction: column
     align-items: center

div.login__img > img
     width: 60%


form.login__form
     width: auto
     height: auto
     display: flex
     flex-direction: column
     justify-content: center

form.login__form > input
     width: auto
     height: auto
     border: $border
     padding: 0.5rem
     margin-bottom: 0.4rem
     color: $color

form.login__form > button    
     width: 100%
     border: $border
     padding: 0.4rem 0
     margin-bottom: 0.4rem
     color: #fff
     font-weight: bold
     border: none
     border-radius: 4px
     background-color: rgba(0,149,246,.3)
     
div.create
     width: 100%
     height: 10%
     border: $border
     margin-bottom: 0.5rem
     background-color: $background-container
     display: flex
     flex-direction: row
     justify-content: center
     align-items: center

div.download
     display: flex
     flex-direction: column
     justify-content: center
     align-items: center
     width: 100%

div.separator
     display: flex
     align-items: center
     align-content: center
     color: grey

div.line
     height: 1px
     width: 100%
     background-color: rgb(219,219,219)

div#leftLine
     margin-right: 1.5rem
     margin-left: 2.5rem

div#rightLine
     margin-left: 1.5rem
     margin-right: 2.5rem

p.passwordForget
     color: #385185

div.loginFacebook 
     display: flex
     color: #385185
     font-weight: bold
     margin: 1rem 0
     justify-content: center

div.loginOptions
     display: flex
     flex-direction: column
     justify-content: end
     align-items: center

div.loginFacebook p
     margin-left: 0.5rem

div.download p
     margin-bottom: 20px
     margin-top: 15px

div.create a 
     text-decoration: none

div.stores
     display: flex
     flex-direction: row

div.stores > a > img 
     width: 135px 
     height: 40px
     margin:0.4rem 
footer
     width: 100%
     height: 15%
     display: flex
     flex-direction: column
     justify-content: center
     align-items: center

footer > div
     margin: 0.5rem
     display: flex
     flex-direction: column
     justify-content: center
     align-items: center

footer > div > div
     display: flex
     flex-direction: row
     justify-content: center
     align-items: center

footer > div > div > div
     margin: 0 0.5rem 0.5rem 0.5rem



//SASS MAIN.HTML
header
     width: 100%
     height: 8%
     background-color: $background-container
     border-bottom: solid 1px #DBDBDB
     margin: 0 0 2.5rem 0
     display: flex
     flex-direction: row
     justify-content: space-around
     align-items: center

div.main__header--logo
     width: auto
     height: auto
     display: flex
     flex-direction: row
     
div.main__header--logo > img
     max-width: 140px
     height: auto
     padding: 0 0 0 1rem 
main.main__main
     width: 100%
     height: 92%
     background-color: red
     display: flex
     flex-direction: row

section.stories
     width: 70%
     height: 100% 
     background-color: $background-main
     display: flex
     flex-direction: column
     justify-content: flex-start
     align-items: center
     margin-left: 18rem

section.recommendations
     width: 30%
     height: 100%
     background-color: $background-main
     margin-right: 18rem
div.main__stories
     width: 90%
     height: 10%
     background-color: $background-container
     margin: 0 0 2.5rem 0
     border: $border
     
div.main__posts
     width: 90%
     height: 75%
     background-color: $background-container
     border: $border

div.main__posts--container
     width: 100%
     height: 90%

div.main__posts--user
     width: auto
     height: 10%
     display: flex
     flex-direction: row
     justify-content: space-between
     align-items: center
     padding: 0 2rem

div.main__posts--userName
     display: flex
     flex-direction: row
     justify-content: center
     align-items: center
div.main__posts--userImg
     margin: 0 1rem 0 0
     width: 30px
     height: 30px
     //border: solid 1px
     //border: 2px solid linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%)
     border-radius: 20px 
     display: flex
     flex-direction: row
     justify-content: center
     align-items: center
div.main__posts--userImg > img
     width: inherit
     max-width: 100%
     height: inherit
     max-height: 100%
     border-radius: 20px 
div.main__posts--userOption

div.main__posts--img
     width: 100%
     height: 70%
     background-color: red
     display: flex
     flex-direction: row

div.main__posts--img > img
     width: inherit
     display:block
     margin:auto

div.main__posts--content
     width: 100%
     height: 20%
div.main__posts--contentIcons
     width: auto
     display: flex 
     flex-direction: row
     justify-content: space-between
     margin: 0.5rem 1rem
div.main__posts--contentIcons > div > i
     font-size: 1.5rem
div.main__posts--playback
     display: flex 
     flex-direction: row
     justify-content: end
     margin: 0.5rem 1rem

span.main__posts--generalBold
     margin: 0 0.5rem 0 0
     font-weight: bold
div.main__posts--userTitle
     display: flex 
     flex-direction: row
     justify-content: end
     margin: 0 1rem
     width: auto
     height: auto

div.main__posts--coments
     width: 100%
     height: 10%
     border-top: $border
div.main__posts--coments > div
     display: flex
     flex-direction: row
     height: auto
     width: auto
     padding: 0.5rem 1rem
     justify-content: flex-start
     align-items: center
     
div.main__posts--coments > div > i
     font-size: 1.5rem

input.main__posts--comentsInput
     width:  100%
     height: 20%
     padding: 0.5rem
     margin: 0 0 0 0.5rem
     border-top: 0
     border-left: 0
     border-right: 0
     border-bottom: $border


//@mixin bg-gradient($angle: 180deg, $color: #0bd, $amount: 20%) 
     //background: linear-gradient($angle, $color, adjust-hue($color, $amount)) fixed;
     //background-color: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%)
