// todo Variables


//todo Main Colors

$write: #fff;
$grey: #dfdfdf;
$grey-background: #fafafa;
$black-rgba-05: rgba(0,0,0,0.5);
$gradient-red-yellow: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
