.stories {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;

  img {
    @include circleBorderRadius(3px, $brColorStory);
    height: 5rem;
    width: 5rem;
  }
}

.post {
  border: $thinBorder;
  max-width: 700px;
  margin: 2.5rem auto;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $yPadding $xPadding;
    img {
      @include circleBorderRadius(0px, $brColor);
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 0.5rem;
    }
    div {
      display: flex;
      align-items: center;
    }
    > p {
      opacity: 0.6;
    }
  }

  &__image {
    overflow: hidden;
  }

  &__icons {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    div {
      display: flex;
      i {
        margin-right: 1rem;
      }
    }
  }

  &__likes {
    padding: $yPadding $xPadding;
  }

  &__message {
    padding: $yPadding $xPadding;
  }

  &__comments {
    padding: $yPadding $xPadding;
    opacity: 0.6;
  }
}
