$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif;
$p-text-color: #262626;
$s-text-color: #8e8e8e;
$p-link-color: #0095f6;
$s-link-color: #00376b;
$box-border: 1px solid #dbdbdb;
$main-bg-color: #fafafa;
