$icomoon-font-family: "ico-instagram" !default;
$icomoon-font-path: "fonts" !default;

$icon-avatar: "\e909";
$icon-compass-full: "\e900";
$icon-compass: "\e901";
$icon-heart-full: "\e902";
$icon-heart-like: "\e903";
$icon-heart: "\e904";
$icon-home-full: "\e905";
$icon-home: "\e906";
$icon-send-full: "\e907";
$icon-send: "\e908";
$icon-facebook: "\ea91";
