// COLORS
// $color-primary: #b25009;
$color-facebook: #385085;
$color-success: #0095f6;

$color-black: #000000;
$color-grey-dark: #8e8e8e;
$color-grey-border: #dbdbdb;
$color-grey: #fafafa;
// $color-grey-light: #efefef;
$color-white: #ffffff;

// FONTS
// $font-size-base: 1.6rem;
// $font-size-base-mobile: 1.4rem;
$font-color-base: $color-black;

// $font-weight-regular: 400;
$font-weight-bold: 700;

//  MAIN WIDTH
$width-desktop: 55rem;
$height-header: 3rem;
