$font: inherit;
$backgroundC: #fafafa;
$boxColor: #ffffff;
/*__loginVariables___*/
$flexbox:flex;

$anchor:100%;
/*_________________*/
@mixin resetMarginPadding {
    margin: 0;
    padding: 0;
  }
@mixin inputs($color,$top,$bot){
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 60%;
    justify-content: center;
    align-items: center;
    background-color: $color;
    margin-top: $top;
    margin-bottom: $bot;
    
  }
@mixin image ($ejeZ){
    position: absolute;
    z-index: $ejeZ;
    width: 40%; 
  }
@mixin flex ($direction,$xPos,$ypos,$color,$borde,$anchor){
    display: $flexbox;
    flex-direction: $direction;  
    justify-content: $xPos;
    align-items: $ypos;
    width: $anchor;
    background-color: $color;
    border: rgb(209, 207, 207) $borde solid;
  
  }

body {
    background-color: $backgroundC;
    

    @include resetMarginPadding;

  }