@use "./global" as global;
.mainHome {
  margin: 30px 19%;
  height: 1500px;
  display: flex;
  .main {
    margin-right: 28px;
    flex-grow: 1;
    .storiesContainer {
      width: 100%;
      height: 85px;
      margin-bottom: 25px;
      border: 1px solid global.$borderColor;
      border-radius: 3px;
      background-color: white;
    }
    .postContainer {
      width: 100%;
      height: 1000px;
      border: 1px solid global.$borderColor;
      border-radius: 3px;
      background-color: white;
      .headerPost {
        height: 32px;
        padding: 16px 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .postTitle {
          display: flex;
          align-items: center;
          img:hover {
            cursor: pointer;
          }
          .postUser {
            @include global.resetMarginPadding;
            margin-left: 16px;
            font-weight: 700;
            color: #404040;
          }
          .postUser:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
        .postOption {
          font-size: 16px;
        }
        .postOption:hover {
          cursor: pointer;
        }
      }
      .picturePost {
        img {
          width: 100%;
        }
      }
      .iconPost {
        height: 40px;
        margin-top: 4px;
        padding: 0px 16px;
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .imgIcon {
          height: 24px;
          padding: 6px;
        }
        .imgIcon:hover {
          cursor: pointer;
        }
      }
      .likePost {
        height: 18px;
        margin-bottom: 8px;
        padding: 0px 16px;
        p {
          @include global.resetMarginPadding;
          font-size: 16px;
          font-weight: 600;
        }
      }
      .commentsPost {
        height: 104px;
        padding: 0px 16px;
      }
      .timePost {
        height: 18px;
        margin-bottom: 4px;
        padding: 0px 16px;
      }
      .footerPost {
        height: 55px;
        margin-top: 4px;
        padding: 0px 16px;
      }
    }
  }
  .aside {
    width: 300px;
    height: 1000px;
  }
}
