@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h4 {
  font-weight: 500;
  color: #5295F6;
  font-size: 15px;
}

.input {
  background-color: #fafafa;
  font-weight: 600;
  font-size: 12px;
  border-radius: 6px;
  border: 2px #dbdbdb solid;
  height: 40px;
  padding-left: 3%;
  align-items: center;
  margin: 2%;
  width: 74%;
  margin-left: 13%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.input:focus {
  border: 1px orange solid;
}
.input ::-moz-placeholder {
  font-size: 10px;
  opacity: 1;
}
.input :-ms-input-placeholder {
  font-size: 10px;
  opacity: 1;
}
.input ::placeholder {
  font-size: 10px;
  opacity: 1;
}

.loginForm {
  background-color: white;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  height: 50%;
  margin: 5%;
  margin-top: 16%;
  border: 2px #dbdbdb solid;
}
.loginForm .loginHeader {
  margin-top: 5%;
}
.loginForm .loginHeader .logoHeader {
  height: 100px;
}
.loginForm #loginSeparator {
  margin-right: 3%;
  margin-top: 5%;
}

.downloadBox {
  box-sizing: content-box;
  display: flex;
  width: boxWidth();
  flex-direction: row;
  white-space: nowrap;
  font-size: 15px;
}
.downloadBox #downloadText {
  transform: translateX(170px);
  font-weight: 600;
}

.downloadButton {
  display: flex;
  flex-direction: row;
  margin-top: 25px;
  margin-right: 25px;
  flex-grow: 2;
  height: 60px;
  max-width: 20%;
  cursor: pointer;
}

.loginForm {
  background-color: white;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  height: 52%;
  margin: 5%;
  margin-top: 15%;
  border: 2px #dbdbdb solid;
}
.loginForm .loginHeader {
  margin-top: 5%;
}
.loginForm .loginHeader .logoHeader {
  height: 100px;
}
.loginForm #loginSeparator {
  color: grey;
  font-size: 14px;
  margin-left: 3%;
  margin-top: 4%;
}
.loginForm #loginSeparator #separatorLine {
  letter-spacing: -3px;
}

#registerButton {
  font-weight: 800;
  cursor: pointer;
  margin-top: 6px;
}

.registerForm {
  margin: 5%;
  vertical-align: middle;
  text-align: center;
  margin-right: 28%;
  border: 2px #dbdbdb solid;
  width: 60%;
  height: 10%;
  white-space: nowrap;
  padding: 3%;
  background-color: white;
}

footer {
  color: grey;
  margin-left: 29%;
  margin-bottom: 2%;
  display: flex;
  text-justify: distribute;
  text-align: center;
  font-size: 12px;
  width: 40%;
  flex-direction: column;
}
footerFirst footer footerSecond {
  color: green;
}

.stories {
  display: flex;
  justify-content: space-around;
  margin: 2rem 0;
}
.stories img {
  border: 3px solid magenta;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
}

.post {
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-width: 700px;
  margin: 2.5rem auto;
}
.post__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1.5rem;
}
.post__title img {
  border: 0px solid black;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 0.5rem;
}
.post__title div {
  display: flex;
  align-items: center;
}
.post__title > p {
  opacity: 0.6;
}
.post__image {
  overflow: hidden;
}
.post__icons {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
.post__icons div {
  display: flex;
}
.post__icons div i {
  margin-right: 1rem;
}
.post__likes {
  padding: 0.6rem 1.5rem;
}
.post__message {
  padding: 0.6rem 1.5rem;
}
.post__comments {
  padding: 0.6rem 1.5rem;
  opacity: 0.6;
}

.mainLogin {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
  font-weight: 600;
}
.mainLogin .leftContainer {
  width: 50%;
  height: 800px;
  background-color: #fafafa;
  padding-top: 5%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}
.mainLogin .rightContainer {
  width: 50%;
  height: 800px;
  background-color: #fafafa;
  text-align: center;
}
.mainLogin #loginSubmit {
  border: none;
  height: 30px;
  color: white;
  font-weight: 600;
  border: 5px 2px #dbdbdb solid solid;
  border-radius: 5px;
  width: 76%;
  margin-top: 4%;
  background-color: #b2dffc;
}
.mainLogin #alternativeLogin {
  cursor: pointer;
  margin-top: 8%;
  color: darkblue;
}
.mainLogin #passForbidden {
  color: darkblue;
  margin-top: 3%;
  font-size: 14px;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #fafafa;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 4rem;
}
header ul {
  list-style-type: none;
  display: flex;
}
header ul li {
  margin-left: 2.5rem;
  font-size: 1.4rem;
}/*# sourceMappingURL=main.css.map */