
$backgroundColor: #FAFAFA;
$boxBackground: #FFFFFF;
$globalBorder: 2px #DBDBDB solid;
$activeButtonColor: #0095F6;
$inactiveButtonColor: #B2DFFC;
$fbTextColor: darkblue;





main {

    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: $backgroundColor;

    .leftContainer{
        width: 50%;
        height: 800px;
        background-color: yellowgreen;

    }

    .rightContainer{
        width: 50%;
        height: 800px;
        background-color: $boxBackground;
        text-align: center;

        .loginHeader{
            margin-top: 10%;

            .logoHeader{
                height: 100px;

            }
        }
        .loginForm{
            justify-content: space-between;
            flex-direction: column;
            flex-wrap: wrap;
            width: 60%;
            height: 75%;
            margin: 5%;
            margin-top: 20%;
            border: $globalBorder;

            .input{
                border-radius: 6px;
                border: $globalBorder;
                align-items: center;
                margin: 2%;
                width: 74%;
                margin-left: 13%;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                height: 40px;
            }
                button{
                    border: 5px $globalBorder solid;
                    border-radius: 5px;
                    width: 70%;
                    margin-top: 4%;
                    background-color: $inactiveButtonColor;
                   

                    ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        font-size: 10px;
                        opacity: 1; /* Firefox */
                      }
                      
                }
        }

        #alternativeLogin{
            margin-top: 3%;
        }


    }
}