@use "globals" as g;

header {
  height: 54px;
  background-color: g.$lightWhite;
  border-bottom: 1px solid g.$lightGray;
  display: flex;
  justify-content: center;
  align-items: center;

  #headerWrapper {
    width: 975px;
    display: inherit;
    justify-content: space-between;
    align-items: inherit;

    #logotype {
      width: 103px;
      height: auto;
    }

    input {
      text-align: center;
      width: 215px;
      height: 28px;
      @include g.elementBorder;
    }

    #iconsWrapper {
      display: inherit;
      justify-content: space-between;
      align-items: inherit;
      width: 198px;
      height: 22px;

      #headerPhoto {
        @include g.profilePhoto(20px);
      }
    }
  }
}
