@use "globals" as g;

main {
  height: 100vh;
  min-height: fit-content;
  width: g.$mainWidth;
  margin: auto;
  padding-top: 30px;
  @include g.flexDistribution(row, flex-start, flex-start);

  #mainLeft {
    overflow: scroll;
    width: 614px;
    margin-right: 28px;

    #storiesContainer {
      @include g.flexDistribution(row, flex-start, center);
      @include g.elementBorder;
      @include g.topContainer;
      overflow: scroll;

      .story-wrapper {
        @include g.flexDistribution(column, center, center);
        margin-right: 8px;
        padding: 4px;
        position: relative;

        .story-photo-wrapper {
          @include g.flexDistribution(row, center, center);
          width: 64px;
          height: 64px;
          margin-bottom: 5px;

          img {
            @include g.roundedElement(60px, 2px, white);
            position: absolute;
            z-index: 2;
          }

          .story-gradient {
            @include g.backgroundGradient(inherit);
          }
        }
      }
    }

    #postsContainer {
      height: 1400px;
      width: 100%;
      @include g.elementBorder;
    }
  }

  #mainRight {
    width: 293px;

    .sidebar-user {
      margin-bottom: 3px;
    }

    #sidebarTop {
      @include g.topContainer;
      padding-left: 0;
      width: 100%;

      #sidebarProfile {
        @include g.flexDistribution(row, flex-start, center);
        margin-bottom: 30px;

        #sidebarPhoto {
          @include g.roundedElement(56px, 1px, g.$darkGray);
          margin-right: 12px;
        }
      }

      #sidebarSuggTitle {
        @include g.flexDistribution(row, space-between, center);
      }
    }

    #sidebarBottom {
      height: fit-content;
      #suggestions {
        .sidebar-suggestion {
          @include g.flexDistribution(row, flex-start, center);
          margin-bottom: 16px;
          .suggestion-photo {
            @include g.roundedElement(32px, 1px, g.$darkGray);
            margin-right: 12px;
          }
          .suggestion-text {
            flex-grow: 1;
            margin-right: 20px;
          }
        }
      }
    }
  }
}
