@use "globals" as g;

#loginBody {
  height: 100vh;
  background-color: g.$darkWhite;
  margin: auto;
  @include g.flexDistribution(column, flex-start, center);

  #loginMain {
    width: g.$mainWidth;
    height: 618px;
    margin-top: 90px;
    margin-bottom: 75px;
    @include g.flexDistribution(row, center, center);

    #loginLeft {
      width: 454px;
      height: 100%;
      margin-right: 28px;
      @include g.flexDistribution(row, center, center);

      .iphones-photos {
        width: auto;
        height: 100%;
      }
    }

    #loginRight {
      width: 350px;
      height: 100%;

      #loginTopRight {
        margin-top: 20px;
        margin-bottom: 10px;
        width: 100%;
        height: 378px;
        padding-top: 30px;
        @include g.elementBorder;
        @include g.flexDistribution(column, center, center);

        #loginLogotype {
          width: 175px;
          padding-bottom: 36px;
        }

        form {
          width: 258px;
          input {
            @include g.loginInput;
          }

          button {
            border-radius: 3px;
            margin-top: 5px;
            margin-bottom: 8px;
            width: 100%;
            height: 30px;
            outline: none;
            border: none;
            background-color: g.$disabledBlue;
            color: white;
          }
        }

        #orWrapper {
          margin-top: 14px;
          margin-bottom: 22px;
          width: 258px;
          @include g.flexDistribution(row, space-between, center);

          .login-line {
            width: 35%;
            display: inline-block;
          }

          p {
            width: fit-content;
          }
        }

        #facebookWrapper {
          width: 258px;
          @include g.flexDistribution(row, center, center);

          span {
            img {
              height: 16px;
              width: auto;
              margin-right: 8px;
            }
          }
        }

        #forgottenPassword {
          margin-top: 15px;
          margin-bottom: 15px;
        }
      }

      #loginMediumRight {
        @include g.elementBorder;
        @include g.flexDistribution(row, center, center);
        width: 100%;
        height: 61px;
        margin-bottom: 25px;

        .no-account {
          display: inline-block;
        }

        .sign-in-login {
          color: g.$blue;
        }
      }

      #loginBottomRight {
        margin: auto;
        width: 298px;
        @include g.flexDistribution(column, center, center);

        #appLogos {
          margin-top: 20px;
          width: 100%;
          @include g.flexDistribution(row, space-between, center);
          img {
            @include g.appLogo;
          }
        }
      }
    }
  }

  footer {
    width: 100%;
    height: 99px;
    line-height: 22px;
    text-align: center;
    margin-bottom: 52px;
  }
}
