@use "../../../../../helpers/variables" as *;

.loginForm {
  background-color: white;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  width: 62%;
  height: 52%;
  margin: 5%;
  margin-top: 15%;
  border: $globalBorder;

  .loginHeader {
    margin-top: 5%;
    .logoHeader {
      height: 100px;
    }
  }

  #loginSeparator {
    color:grey;
    font-size: 14px;
    margin-left: 3%;
    margin-top: 4%;

    #separatorLine{
      letter-spacing: -3px;
    }
  }
}
