@mixin circleBorderRadius($borderWidth, $borderColor) {
  border: $borderWidth solid $borderColor;
  border-radius: 50%;
}

<<<<<<< HEAD:assets/sass/helpers/_mixins.scss
@mixin logButton($globalBorder, $inactiveButtonColor) {
=======
 #loginSubmit {
>>>>>>> 42428a7f286d53fafd1398805a767cb320599ab6:assets/sass/components/page/login/main/loginForm/_loginBttn.scss
  border: none;
  height: 30px;
  color: white;
  font-weight: 600;
  border: 5px $globalBorder solid;
  border-radius: 5px;
  width: 76%;
  margin-top: 4%;
  background-color: $inactiveButtonColor;
}
