@use '../abstract' as var;

.overline {
  margin: .8rem 0 1.5rem;
  width: 100%;
  text-align: center;
  line-height: 0.1em;
  border-bottom: 1px solid var.$color-grey-border;
}

.overline__text {
  padding:0 .8rem;
  color: var.$color-grey-dark;
  background:var.$color-white;
}