@use "./../abstracts"as a;


form {

    button {
        margin-top: 8px;
        color: a.$bg-white;
        background-color: a.$blue-light;
        border-style: none;
        padding: 7px;
        cursor: pointer;
        border-radius: 3px;
    }

}

#facebookBtn {
    border-style: none;
    background-color: a.$bg-white;
    cursor: pointer;
    color: a.$blue-text;
}