@use "./../abstracts"as a;


#loginForm {

    button {
        margin-top: 8px;
        color: a.$bg-white;
        background-color: a.$blue-light;
        border-style: none;
        padding: 7px;
        cursor: pointer;
        border-radius: 3px;
    }

}

#facebookContainer {
    #facebookBtn {
        border-style: none;
        background-color: a.$bg-white;
        cursor: pointer;
        color: a.$blue-text;
    }

    span {
        @include a.flex-row;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    img {
        width: 5%;
        height: 5%;
    }
}