@use "../abstracts/"as a;

#facebookContainer {
    span {
        @include a.flex-row;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }

    img {
        width: 5%;
        height: 5%;
    }
}