@use "../abstracts/"as a;

#facebookContainer {

    img {
        width: 5%;
        height: 5%;
    }
}



.download {
    text-align: center;
    font-size: 14px;

    img {
        width: 40%;
    }
}