//instagram text-img
.instaText {
    padding: 20px 0;

    img {
        width: 50%;
    }
}

#facebookSession {

    img {
        width: 30%;
        height: 30%;
    }
}

.mobileStores {
    img {
        width: 40%;
    }
}