@use "../abstracts/"as a;

#loginForm {
    input {
        border: 1px solid a.$gray;
        background-color: a.$bg-color-default;
        padding: 10px 5px;
        border-radius: 3px;
    }

    input:focus {
        outline: none;
        border: 1px solid a.$darkGray;
    }

}

.searchBar {
    position: relative;

    //glass icon
    svg {
        position: absolute;
        top: 10px;
        left: 12px;
    }

    input {
        padding: 10px 10px 10px 35px;
        background-color: a.$mediumGray;
        border-radius: 5px;
        border-style: none;
    }

    input:focus {
        outline: none;
    }
}

#commentToPost {
    width: 100%;
    padding: 15px 15px 15px 40px;
    border: none;


    &:focus {
        outline: none;
    }
}