@use "./../abstracts"as a;

#mobiles {
    position: relative;

    #templateImg {
        position: absolute;
        top: 100px;
        right: 63px;
    }
}

@include a.hideMobiles(mobile) {
    #mobiles {
        display: none;
    }
}