@use '../base/' as b;

.nav__container {
    position: sticky;
    top: 0;
    z-index: 1;
    height: 54px;
    background-color: #fff;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid b.$nav-border-color;
}

.nav__container_logo img{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__container_search {
    position: relative;
    i {
        position: absolute;
        left: 63px;
        top: 8px;
        color: b.$nav-border-color;
        font-weight: bold;
    }
    input[type="search"] {
        width: 220px;
        padding: 0.4rem;
        text-align: center;
        border: 1px solid b.$nav-border-color;
        border-radius: 3px;
        background-color: b.$bg-color;
    }
}



.nav__container_extends {
    width: 115px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    i {
        font-size: 24px;
        &:hover {
            cursor: pointer;
        }
    }
}

.nav__container_extends-profile {
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-image: url("../assets/img/profile-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    &:hover {
        cursor: pointer;
    }
}