@use "../abstracts/"as a;

.postsNav {
    width: 100%;
}

.post {
    @include a.flex-column;
    justify-content: space-between;
    background-color: a.$bg-white;
    border: 1px solid a.$darkGray;
    border-radius: 5px;

    .headerPost {
        @include a.flex-row;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        border-bottom: 1px solid a.$gray;

        .profilePost {
            @include a.flex-row;
            align-items: center;
            gap: 10px;
        }
    }

    .postImg {
        text-align: center;

        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .footerPost {
        padding: 10px 10px;
    }

    .options {
        @include a.flex-row;
        justify-content: space-between;

        .socialIcons {
            @include a.flex-row;
            gap: 7px;

        }
    }

    .views {
        @include a.flex-row;
        align-items: center;
    }


    #formComment {
        @include a.flex-row;
        position: relative;
        border-top: 1px solid a.$gray;

        svg {
            position: absolute;
            top: 10px;
            left: 10px;
            cursor: pointer;
        }

        button {
            position: absolute;
            top: 14px;
            right: 10px;
            font-size: 15px;
        }
    }
}