@use "../../helpers/variables" as *;
@use "../../helpers/mixins" as *;

.far {
  opacity: 1;
  font-weight: normal;
  // font-size: 20px;
}

.stories {
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin: 1.5rem auto;
  padding: 1rem 0.5rem;
  border: $thinBorder;
  max-width: $widthPosts;

  img {
    @include circleBorderRadius(3px, $brColorStory);
    height: 5rem;
    width: 5rem;
  }
}

.post {
  border: $thinBorder;
  max-width: $widthPosts;
  margin: 2.2rem auto;
  background-color: white;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $yPadding $xPadding;
    img {
      @include circleBorderRadius(0px, $brColor);
      height: 2.5rem;
      width: 2.5rem;
      margin-right: 0.5rem;
    }
    div {
      display: flex;
      align-items: center;
    }
    > p {
      opacity: 0.6;
    }
  }

  &__image {
    overflow: hidden;
  }

  &__icons {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    div {
      display: flex;
      i {
        margin-right: 1rem;
      }
    }
  }

  &__likes {
    padding: $yPadding $xPadding;
  }

  &__message {
    padding: $yPadding $xPadding;
  }

  &__comments {
    padding: $yPadding $xPadding;
    opacity: 0.6;
  }
}
