@mixin circleBorderRadius($borderWidth, $borderColor) {
  border: $borderWidth solid $borderColor;
  border-radius: 50%;
}


@mixin generalInput {
  background-color: $backgroundColor;
  font-weight: 600;
  font-size: 12px;
  border-radius: 6px;
  border: $globalBorder;
  height: 40px;
  
}