@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


main{
font-family: 'Roboto', sans-serif;
}


// text propierties

h4{
    font-weight: 500;
    color: #5295F6;
    font-size: 15px;
}
