@use "../abstracts/"as a;

body {
    font-family: a.$default-font-family;
}

.submitText {
    font-weight: 550;
    font-family: sans-serif;
}

.or {
    p {
        font-size: small;
    }
}

a {
    text-decoration: none;
}

#facebookContainer {
    span {
        font-weight: 600;
    }

}

#forgotPass {
    text-align: center;
    font-size: a.$smallText;

    a:visited {
        color: a.$blue-text;
    }
}

.downloadContainer {
    text-align: center;
    font-size: 14px;
}

footer {
    font-size: a.$smallText;
    color: a.$darkGray;

    a:visited {
        color: a.$darkGray;
    }
}

//dash
.historiesNav {
    .profileName {
        font-size: 12px;
    }
}