@use '../../base/base-index' as * ;

.app-download {
    display: flex;
    flex-direction: column;

    p {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        margin: 10px 20px;
    }
}


.store-link {
    @include flexCenter();
    padding: 10px;

    a{
        img {
            height: 40px;
        }

        &:nth-child(1) {
            margin-right: 8px;
        }
    }
}
// .store-link 

// .store-link a:nth-child(1) {
//     margin-right: 8px;
// }