// todo Rigth section

@use "../../base/base-index" as *;

.form-container {
    flex-grow: 1;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.box {
    border: 1px solid var(--box-border-color);
    background-color: var(--box-bg);
    border-radius: 3px;
}

.form-content {
    margin-bottom: 10px;
    padding: 10px;

    .logo {
        text-align: center;
        height: 51px;
        width: 175px;
        margin: 22px auto 12px;

        img {
            max-width: 100%;
        }
    }
}

