@use "../base/base" as b;

.home {
  background-color: #fafafa;
}

header {
  height: 54px;
  padding: 0 20px;
  border-bottom: b.$my_div_border;
  position: sticky;
  top: 0;
  background-color: white;
  input {
    background-color: transparent;
    border: 0px solid #fafafa;
    width: 90%;
    position: absolute;
    outline: none;
  }
  img {
    height: 32px;
    margin-left: 10px;
  }
}

.nav-profile-class {
  @include b.postsProfile("../assets/img/profile_photos/user_profile.jpg");
  margin-left: 10px;
}

.header-search-class {
  position: relative;
  width: 215px;
  min-width: 125px;
  padding: 7px;
  border-radius: 3px;
  border: b.$my_div_border;
  background-color: #fafafa;
  span,
  .fas {
    z-index: 3;
  }
}

.stories {
  height: 100px;
  background-color: white;
  margin-top: 25px;
  padding: 10px;
  border: b.$my_div_border;
  border-radius: 3px;
}

.story-circle-class {
  width: 62px;
  height: 62px;
  background: linear-gradient(to right, #f99b4a, #c92d8c);
  border-radius: 50%;
}

.story-name-class {
  font-weight: 200;
  margin-top: 5px;
  width: 62px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.story-profile-class:first-child .story-photo-class {
  @include b.postsProfileBig(
    "../assets/img/profile_photos/user_profile_jake.jpg",
    58px
  );
  border: 2px solid white;
}

.story-profile-class:nth-child(2) .story-photo-class {
  @include b.postsProfileBig(
    "../assets/img/profile_photos/la_veneno.jpg",
    58px
  );
  border: 2px solid white;
}

.story-profile-class:nth-child(3) .story-photo-class {
  @include b.postsProfileBig("../assets/img/profile_photos/mr_tesla.jpg", 58px);
  border: 2px solid white;
}

.story-profile-class:nth-child(4) .story-photo-class {
  @include b.postsProfileBig("../assets/img/profile_photos/kurt.jpg", 58px);
  border: 2px solid white;
}

.story-profile-class:nth-child(5) .story-photo-class {
  @include b.postsProfileBig(
    "../assets/img/profile_photos/rick_morty.jpg",
    58px
  );
  border: 2px solid white;
}

.story-profile-class:nth-child(6) .story-photo-class {
  @include b.postsProfileBig(
    "../assets/img/profile_photos/ada_lovelace.jpeg",
    58px
  );
  border: 2px solid white;
}

.story-profile-class:nth-child(7) .story-photo-class {
  @include b.postsProfileBig("../assets/img/profile_photos/tree.jpg", 58px);
  border: 2px solid white;
}

.story-profile-class:nth-child(8) .story-photo-class {
  @include b.postsProfileBig("../assets/img/profile_photos/doraemon.jpg", 58px);
  border: 2px solid white;
}

.article-post-class {
  margin: 25px 0;
  img {
    width: 640px;
  }
}

.post-top-class {
  width: 640px;
  padding: 16px;
  background-color: white;
  border-radius: 3px 3px 0 0;
  border-top: b.$my_div_border;
  border-left: b.$my_div_border;
  border-right: b.$my_div_border;
  span {
    font-size: 2rem;
    margin-top: -10px;
  }
}

.post-user-profile-class-1 {
  @include b.postsProfile("../assets/img/profile_photos/mishis.jpg");
  margin-right: 15px;
}

.description-icons-class {
  padding: 5px 0;
  img {
    width: 32px;
  }
  img:nth-child(4) {
    margin-left: auto;
    width: 26px;
  }
}

.post-description-class {
  border-right: b.$my_div_border;
  border-left: b.$my_div_border;
  border-bottom: b.$my_div_border;
  padding: 10px;
}
.description-likes-class {
  margin-bottom: 10px;
  font-weight: 600;
}
.description-text-class {
  margin-bottom: 5px;
  h3 {
    font-weight: 600;
    display: inline-block;
  }
}
.description-comments-class {
  span {
    color: gray;
  }
  h3 {
    font-weight: 600;
    display: inline-block;
  }
  p {
    margin: 5px 0;
  }
}
.description-hour-class {
  color: gray;
  margin: 10px 0;
}

.post-addComment-class {
  height: 55px;
  border-right: b.$my_div_border;
  border-left: b.$my_div_border;
  border-bottom: b.$my_div_border;
  border-radius: 0 0 3px 3px;
  padding: 10px;
  img {
    width: 28px;
    margin-right: 10px;
  }
}

.add-comment-class {
  color: gray;
  position: relative;
  input {
    position: absolute;
    width: 100%;
    background-color: transparent;
    border: 0px solid transparent;
    outline: transparent;
  }
}

aside {
  min-width: 300px;
  margin-top: 30px;
  margin-left: 15px;
  padding: 10px;
}

.aside-profile-class {
  @include b.postsProfileBig(
    "../assets/img/profile_photos/user_profile.jpg",
    56px
  );
  margin-right: 20px;
}

.aside-name-class {
  p:first-child {
    font-weight: 600;
    margin-bottom: 3px;
  }
  p:nth-child(2) {
    color: gray;
  }
}

.blue-style {
  color: #0095f6;
  font-weight: 600;
}

.suggestions-title-class {
  margin-top: 25px;
  margin-bottom: 25px;
  h3 {
    color: gray;
  }
}

.suggestion-class {
  margin-bottom: 12px;
}

.suggestion-class:nth-child(2) .suggestion-profile-class {
  @include b.postsProfile("../assets/img/profile_photos/assembler.jpg");
  margin-right: 10px;
}
.suggestion-class:nth-child(3) .suggestion-profile-class {
  @include b.postsProfile("../assets/img/profile_photos/scorpio.jpg");
  margin-right: 10px;
}
.suggestion-class:nth-child(4) .suggestion-profile-class {
  @include b.postsProfile("../assets/img/profile_photos/beer_helping.jpg");
  margin-right: 10px;
}
.suggestion-class:nth-child(5) .suggestion-profile-class {
  @include b.postsProfile("../assets/img/profile_photos/shadow_bone.jpg");
  margin-right: 10px;
}
.suggestion-class:nth-child(6) .suggestion-profile-class {
  @include b.postsProfile("../assets/img/profile_photos/cthulhu.jpg");
  margin-right: 10px;
}
