@use "../abstracts/mixins" as m;
.footer__objects {
    @include m.footer()
}

.footer__nav {
    margin: auto;
    text-align: center;
}

.footer__div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 3.125rem;
    margin-bottom: 0;
    max-width: 46.875rem;
    font-size: .75rem;
}