@use "../abstracts/mixins" as m;
@use "../abstracts/colors" as c;
.post__feed {
    @include m.borders;
    margin-top: 2rem;
    padding-bottom: 1rem;
    background-color: c.$bg-color-contrast;
    &--header {
        margin: 1rem;
        display: flex;
        justify-content: space-between;
        button {
            border: none;
            background-color: inherit;
        }
    }
    &--img {
        border: 2px solid purple;
        border-radius: 100%;
    }
    &--title {
        font-weight: bold;
    }
    &--label {
        display: flex;
        align-items: center;
        gap: 1rem;
    }
}

.post__main {
    display: block;
    margin: 0;
    &--img {
        width: 42rem;
        height: 40rem;
    }
    &--nav {
        width: 38rem;
        @include m.flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5rem 1rem 1rem 1rem
    }
}

.nav__like {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.like__heart:active {
    fill: #ed4956
}

.bold__username {
    font-weight: bold;
}

.comment-and-likes {
    width: 40rem;
    margin-left: 1rem
}

.comment__section {
    @include m.flex;
    align-items: flex-start;
    width: 40rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    &--comment {
        margin-top: 0.3rem;
    }
    &--mention {
        color: c.$btn__primary;
        cursor: pointer;
    }
}

.show__more {
    margin-top: 0.5rem;
    color: c.$light-color;
    cursor: pointer;
}