@use "../abstracts/mixins" as m;
@use "../abstracts/colors" as c;
main {
    @include m.flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1.5rem;
    align-items: flex-start;
}