
@mixin img__round {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50px;
}

.img__home {
    height: 100%;
    object-fit: cover;
    margin: 0;
    padding: 0;
}

.login__content__downloadApp > img{
    height: 40px;
    cursor: pointer;
}