@import "colors";
$borderInitial: $facebookBlue 1px solid;

.body {
    background: $notWhite;
    height: 100vh;
    width: fit-content;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    // outline: auto;
}


.container__home {
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
    width: 100%;
    height: 85vh;
    padding: 5% 20%;
    text-align: center;
    align-items: center;
    justify-content: center;
    outline: auto;
    position: relative;
}
.container__left {
    outline: auto;
    height: 100%;
    min-width: 300px;
}

.container__right {
    display: flex;
    height: 100%;
    min-width: 300px;
    flex-direction: column;
    outline: auto;
}

.bg__white {
    background-color: $white;
}

.login__profile {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.main__logo {
    background-image: url(/public/assets/img/logos.png);
    height: 51px;
    width: 175px;
    background-position: 0px -130px;
    background-repeat: no-repeat;
}

.footers_home {
    position: relative;
    height: 15vh;
    width: 100%;
}