@import "colors";
@import "images";
@import "general";
@import "logo";
@import "flex_grid";


$borderInitial: $facebookBlue 1px solid;
$all__width:100%;

.container__home {
  @include flex__row__center;
  text-align: center;
  width: 100%;
  height: 85vh;
  min-height: 550px;
  padding: 5% 20%;
  gap: 2%;
  position: relative;
  .container__left {
    height: 100%;
    width: 400px;
  }
  .container__right {
    @include flex__column;
    height: 100%;
    width: 400px;
    min-width: 300px;
    .main__logo {
      @include main_logo;
    }
    .all__width {
      width: $all__width;
    }
    .login__profile {
      @include flex__column;
      align-items: center;
      gap: 20px;
      padding: 5%;
    }
    .bg__white {
      background-color: $white;
    }
  }
}

.footers_home {
  position: relative;
  height: 15vh;
  width: $all__width;
}
