@import "colors";
@import "images";
@import "general";
@import "li";

$outline1px: solid red 1px;

.nav__home {
  //@include flex__row;
	display: flex;
  background-color: rgb(190, 115, 16);
  outline: $outline1px;
	gap:10%;
	width: 100vw;
	min-height: 50px;
	height: fit-content;
	.nav__home__logo{
		width: 33vw;
		align-content: flex-start;
		justify-content: flex-start;
		background-color: red;
	}
	.nav__home__search{
		width: 33vw;
		background-color: palegreen;
		align-content: center;
		justify-content: center;
	}
	.nav__home__iconos__list{
		@include list_none;
		width: 33vw;
		background-color: rgb(219, 10, 219);
		background-color: rgb(219, 10, 219);

	}
}
