@import "colors";
@import "images";
@import "general";
@import "li";
@import "border";
@import "logo";

// $outline1px: solid red 1px;
body{
	overflow-x: hidden;
	position: relative;
	background-color: $notWhite;
}

.header {
  @include flex__row;
  @include border_insta;
	position: fixed;
  background-color: $notWhite;
  width: 100vw;
  min-height: 50px;
  height: 5vh;
  justify-content: center;
	z-index: 1;
  .nav__home {
    display: grid;
		grid-template-columns: 1fr 5fr 2fr;
		grid-template-rows: 1fr;
    width: 50vw;
    min-height: inherit;
    height: inherit;
    .nav__home__logo {
		@include nav_logo;

      align-content: flex-start;
      justify-content: flex-start;
    }
    .nav__home__search {
      width: 100%;
      align-content: center;
      justify-content: center;
	  .nav__home__search__bar {
		  width: 209px;
		  height: 24px;
		  border: 1px solid #dbdbdb;
		  background-color: #fafafa;
		  border-radius: 3px;
		  margin-top: 15px;

	  }
    }
    .nav__home__iconos__list {
      @include list_none;
	  margin-top: 15px;
      width: 100%;
			gap: 10px;
    }
  }
}

.container__home__home {
	top: 20px;
	position: relative;
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  width: 80vw;
  justify-content: center;
	justify-items: center;
	padding-top: 7vh;
  .feed {
		width: 30vw;
		.div__stories {
			@include border_insta;
			position: relative;
			display: flex;
			flex-direction: row;
			gap: 10px;
			height: 86px;
			margin-bottom: 24px;
			padding: 16px 0;
			overflow-x: hidden;
			align-content: flex-start;
			.stories__item {
				width: 50px;
				background: linear-gradient(to bottom left, #833ab4, #c13584, #e1306c, #fd1d1d, #f56040, #f77737, #fcaf45, #ffdc80);
				border-radius: 50%;
				margin-bottom: 6px;
				margin-top: 4px;
			}
		}
    .div__feed {
      .post {
		@include border_insta;
        display: grid;
        grid-template-columns: 1fr;
				grid-template-rows: .1fr 3fr 1fr;
        min-height: 400px;
        margin-bottom: 50px;
        .post__user {
					height: 50px;
          			display: grid;
					grid-template-columns: .3fr 5fr .5fr;
					grid-template-rows: 1fr;
					column-gap: 10px;
					background-color: $notWhite;
					padding: 10px;
					width: 100%;
					.post__user__picture{
						height: 30px;
						width: 30px;
						.img__round{
							width: 100%;
							height: 100%;
							object-fit: cover;
							overflow: hidden;
							border-radius: 50px;
						}
					}
					.post__user__opts{
						margin-top: 5px;
					}
        }
				.img__feed{
					width: 100%;
					height: 500px;
					object-fit: cover;
				}
				.container__comments{
					.iconos__comments{
						display: grid;
						grid-template-columns: .4fr .4fr 5fr .4fr;
						grid-template-rows: 1fr;
						column-gap: 5px;
					  width: 100%;
						list-style: none;
					}
					.input__comments{
						display: grid;
						grid-template-columns: .5fr 5fr .5fr;
						grid-template-rows: 1fr;
						width: 100%;
						padding-left: 16px;
						padding-right: 16px;
						margin-top: 12px;
						border-top: 1px solid #dbdbdb;
						height: 56px;
						align-items: center;
						font-size: 14px;
						color: #8e8e8e;
						.input__comments__span {
							color: $facebookBlue;
							font-weight: 600;
							opacity: 0.4;
						}
					}
				}
      }
    }
  }
}
.stories__next {
	background-image: url(/public/assets/img/logos2.png);
	background-repeat: no-repeat;
	background-position: -294px -273px;
	height: 45px;
	width: 45px;
}

::placeholder {
	text-align: center;
}

.aside {
	right: 25%;
	position: fixed;
	background-color: $notWhite;
	height: auto;
	width: 17vw;
}
