@mixin list_none {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.ul__footer {
  @include list_none;
  width: 100vw;
  gap: 20px;
  // margin-bottom: 10px;
}

.footers_home {
  display: flex;
  flex-direction: column;
}
