.footer {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 15vh;
}

.footer_line {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
    align-items: center;
    }

    .footer_item {
        font-size: 13px;
        line-height: 14px;
        margin: 0px 8px 12px;
        color: #8e8e8e;
    }


    .footer_item_icon {
        font-size: 13px;
        line-height: 14px;
        margin-right: 8px;
        margin-top: -10px;
        color: #8e8e8e;
    }
