/* Error: Can't find stylesheet to import.
 *   ,
 * 8 | @use "rigth-section";
 *   | ^^^^^^^^^^^^^^^^^^^^
 *   '
 *   SASS-instagram\components\_components-index.scss 8:1  @use
 *   SASS-instagram\_main.scss 4:1                         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 8 \2502  @use \"rigth-section\";\d\a   \2502  ^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   SASS-instagram\\components\\_components-index.scss 8:1  @use\a   SASS-instagram\\_main.scss 4:1                         root stylesheet";
}
