@use "./colors";
@use "./elements";

//Login Page
* {
  margin: 0;
}
main {
  background: $instagramBackground;
  @include flexCenter();
  height: 85vh;
  width: 100%;
}
.parentMain {
  background-color: beige;
  height: 722px;
  width: 935px;
}
.loginFooter {
  height: 15vh;
  // background: $instagramBackground;
  background-color: aquamarine;
}
