.coreSpriteActivityHeart,
.coreSpriteAddText,
.coreSpriteAppIcon,
.coreSpriteAppStoreButton,
.coreSpriteBoomerang,
.coreSpriteCall,
.coreSpriteCheck,
.coreSpriteChevronDark,
.coreSpriteChevronDownGrey,
.coreSpriteChevronRight,
.coreSpriteChevronRightBlue,
.coreSpriteCi,
.coreSpriteClose,
.coreSpriteCloseLight,
.coreSpriteDesktopNavDirect,
.coreSpriteDesktopPhotoGrid,
.coreSpriteDesktopPhotoGridActive,
.coreSpriteDesktopProfileIGTV,
.coreSpriteDesktopProfileIGTVActive,
.coreSpriteDesktopProfileSave,
.coreSpriteDesktopProfileSaveActive,
.coreSpriteDesktopProfileTagged,
.coreSpriteDesktopProfileTaggedActive,
.coreSpriteDirectHeart,
.coreSpriteDismissLarge,
.coreSpriteDismissSmall,
.coreSpriteDownload,
.coreSpriteDropdownArrowBlue5,
.coreSpriteDropdownArrowBlue6,
.coreSpriteDropdownArrowGrey9,
.coreSpriteDropdownArrowWhite,
.coreSpriteFacebookIcon,
.coreSpriteFacebookIconInverted,
.coreSpriteFeedLikeBig,
.coreSpriteGallery,
.coreSpriteGlyphGradient,
.coreSpriteGlyphWhite,
.coreSpriteGooglePlayButton,
.coreSpriteHashtag,
.coreSpriteHeartSmall,
.coreSpriteHyperlapse,
.coreSpriteIgLiteHalfsheetInstagramLogo,
.coreSpriteInfo,
.coreSpriteInputAccepted,
.coreSpriteInputError,
.coreSpriteInputRefresh,
.coreSpriteKeyhole,
.coreSpriteLeftChevron,
.coreSpriteLeftPaginationArrow,
.coreSpriteLocation,
.coreSpriteLocationActive,
.coreSpriteLock,
.coreSpriteLockSmall,
.coreSpriteLoggedOutGenericUpsell,
.coreSpriteLoggedOutWordmark,
.coreSpriteMobileNavDirect,
.coreSpriteMobileNavTypeLogo,
.coreSpriteNavBack,
.coreSpriteNotificationLeftChevron,
.coreSpriteNotificationRightChevron,
.coreSpriteNullProfile,
.coreSpriteOptionsEllipsis,
.coreSpriteOptionsEllipsisLight,
.coreSpritePagingChevron,
.coreSpritePlayIconSmall,
.coreSpritePrivateLock,
.coreSpriteProfileCamera,
.coreSpriteReload,
.coreSpriteRightChevron,
.coreSpriteRightPaginationArrow,
.coreSpriteSaveNull,
.coreSpriteSaveStory,
.coreSpriteSearchClear,
.coreSpriteSearchIcon,
.coreSpriteSensitivityIcon,
.coreSpriteSensitivityIconSmall,
.coreSpriteSpeechBubbleSmall,
.coreSpriteSpinsta,
.coreSpriteSpinstaNux,
.coreSpriteSpinstaStory,
.coreSpriteStar,
.coreSpriteStoryCreation,
.coreSpriteStoryCreationAlt,
.coreSpriteStoryRing,
.coreSpriteStoryViewCount,
.coreSpriteTaggedNull,
.coreSpriteUnreadComments,
.coreSpriteUnreadLikes,
.coreSpriteUnreadRelationships,
.coreSpriteUnreadUsertags,
.coreSpriteVerifiedBadge,
.coreSpriteVerifiedBadgeSmall,
.coreSpriteVideoNux,
.coreSpriteViewCount,
.coreSpriteWindowsStoreButton,
.coreSpriteWordmark {
  background-image: url('../../assets/images/coreSprites.png');
}

.coreSpriteSearchIcon,
.coreSpriteSensitivityIcon {
  background-repeat: no-repeat;
  background-position: -399px -321px;
  height: 10px;
  width: 10px;

  background-size: 440px 411px;
  background-position: -428px -241px;
}

.coreSpriteLoggedOutWordmark,
.coreSpriteMobileNavDirect {
  background-repeat: no-repeat;
  background-position: 0 -130px;
  height: 51px;
  width: 175px;

  background-size: 440px 411px;
  background-position: 0 -129px;
}

.coreSpriteFacebookIcon, .coreSpriteFacebookIconInverted {
  background-repeat: no-repeat;
  background-position: -414px -259px;
  height: 16px;
  width: 16px;
}