@use '../abstract' as var;

.color-facebook {
  color: var.$color-facebook;
}

.color-success {
  color: var.$color-success;
}

.color-grey-dark {
  color: var.$color-grey-dark;
}

.border-top {
  border-top: 1px solid var.$color-grey-border;
}