// padding
.py-1 {
  padding: 1rem 0;
}

.px-1 {
  padding: 0 1rem;
}

.p-05 {
  padding: .5rem;
}

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 1.3rem 2.5rem;
}

.p-3 {
  padding: 2rem;
}

.pb-05 {
  padding-bottom: 0.5rem;
}

// margin
.mt-1 {
  margin-top: 1rem;
}

.my-05 {
  margin: 0 .5rem;
}

.my-1 {
  margin: 0 1rem;
}


