$color-facebook: #385185;
$color-blue-light: #0095f6;
$color-grey: #8e8e8e;
$background-main: #fafafa;
$white: #FFFFFF;
$border-color-navbar: #dbdbdb;
$color-letters-post: #262626;
$color-mention: #00376b;