@use "../../../../../helpers/mixins" as *;

.downloadBox {
  box-sizing:border-box;
  margin-top: -1.7%;
  margin-left: 5%;
  box-sizing: content-box;
  display: flex;
  width: 59.6%;
  flex-direction: row;
  font-size: 15px;
  #downloadText {
    margin-left: 38%;
    white-space: nowrap;
    text-align: center;
    font-weight: 500;
  }
}
