
.downloadButton {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    padding-right: 1%;
    flex-grow: 2;
    transform: translateX(-123%);
    height: 50px;
    width: 180px;
    cursor: pointer;
  }