/*__loginVariables___*/
/*_________________*/
body {
  background-color: #fafafa;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
}

section.main {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 80%;
  margin-top: 100px;
}

.image {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  background-color: #fafafa;
}

.im1 {
  position: absolute;
  z-index: 1;
  width: 50%;
  right: 100px;
}

.im2 {
  position: absolute;
  z-index: 0;
  width: 50%;
  top: 10%;
}

.instagram {
  width: 40%;
  margin: 10px;
}

.log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #fafafa;
  border: #dbdbdb 0px solid;
  padding-right: 150px;
}

.or {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: none;
  border: #dbdbdb 0px solid;
  color: rgba(68, 68, 68, 0.6);
  margin: 15px;
}

.inp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #ffffff;
  border: #dbdbdb 1px solid;
  margin-bottom: 30px;
  padding: 10px;
}

.contr {
  color: rgba(var(--fe0, 0, 55, 107), 1);
  font-size: 12px;
  line-height: 14px;
  margin-top: 12px;
  text-align: center;
}

.face {
  color: #385185;
  display: flex;
  flex-direction: row;
  font-size: 15px;
  font-weight: 700;
}

.sing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #ffffff;
  border: #dbdbdb 1px solid;
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
  padding: 20px 10px;
}

.sing span:last-child {
  color: #0095f6;
  font-family: "Ubuntu", sans-serif;
  font-size: 10px;
  margin-left: 5px;
}

.apps {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
  background-color: #fafafa;
  border: #dbdbdb 0px solid;
}

.inps {
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  height: 40px;
  width: 80%;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  margin-top: none;
  margin-bottom: 5%;
}

.sub {
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  height: 40px;
  width: 80%;
  justify-content: center;
  align-items: center;
  background-color: #b9dffc;
  margin-top: 20px;
  margin-bottom: none;
  height: 25px;
  color: white;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.gooPl {
  width: 40%;
  border-radius: 5px;
}

.appS {
  width: 41%;
  border-radius: 5px;
  margin-left: 10px;
}

.mainHome {
  margin: 30px 19%;
  display: flex;
}
.mainHome .main {
  margin-right: 28px;
  flex-grow: 1;
}
.mainHome .main .storiesContainer {
  width: 100%;
  height: 85px;
  margin-bottom: 25px;
  border: 1px solid 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: white;
}
.mainHome .main .postContainer .post {
  width: 100%;
  border: 1px solid 1px solid #dbdbdb;
  border-radius: 3px;
  background-color: white;
  margin-bottom: 60px;
}
.mainHome .main .postContainer .post .headerPost {
  height: 32px;
  padding: 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainHome .main .postContainer .post .headerPost .postTitle {
  display: flex;
  align-items: center;
}
.mainHome .main .postContainer .post .headerPost .postTitle img:hover {
  cursor: pointer;
}
.mainHome .main .postContainer .post .headerPost .postTitle .postUser {
  margin: 0;
  padding: 0;
  margin-left: 16px;
  font-weight: 700;
}
.mainHome .main .postContainer .post .headerPost .postTitle .postUser:hover {
  cursor: pointer;
  text-decoration: underline;
}
.mainHome .main .postContainer .post .headerPost .postOption {
  font-size: 16px;
}
.mainHome .main .postContainer .post .headerPost .postOption:hover {
  cursor: pointer;
}
.mainHome .main .postContainer .post .picturePost img {
  width: 100%;
}
.mainHome .main .postContainer .post .iconPost {
  height: 40px;
  margin-top: 4px;
  padding: 0px 16px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainHome .main .postContainer .post .iconPost .imgIcon {
  height: 24px;
  padding: 6px;
}
.mainHome .main .postContainer .post .iconPost .imgIcon:hover {
  cursor: pointer;
}
.mainHome .main .postContainer .post .likePost {
  height: 18px;
  margin-bottom: 8px;
  padding: 0px 16px;
}
.mainHome .main .postContainer .post .likePost p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 600;
}
.mainHome .main .postContainer .post .commentsPost {
  padding: 0px 16px;
  margin-bottom: 8px;
}
.mainHome .main .postContainer .post .commentsPost p {
  display: inline;
}
.mainHome .main .postContainer .post .commentsPost .postUser {
  font-size: 16px;
  font-weight: 600;
}
.mainHome .main .postContainer .post .commentsPost .postUser:hover {
  cursor: pointer;
  text-decoration: underline;
}
.mainHome .main .postContainer .post .commentsPost .greyText {
  color: grey;
}
.mainHome .main .postContainer .post .timePost {
  height: 18px;
  padding: 0px 16px;
  color: grey;
  font-size: 12px;
}
.mainHome .main .postContainer .post .footerPost {
  height: 55px;
  margin-top: 4px;
  padding: 0px 16px;
  border-top: 1px solid 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainHome .main .postContainer .post .footerPost .leftFooter {
  display: flex;
  align-items: center;
}
.mainHome .main .postContainer .post .footerPost .leftFooter img {
  height: 30px;
  padding-right: 16px;
}
.mainHome .main .postContainer .post .footerPost .leftFooter img:hover {
  cursor: pointer;
}
.mainHome .main .postContainer .post .footerPost .leftFooter p {
  color: grey;
}
.mainHome .main .postContainer .post .footerPost .rightFooter {
  font-weight: 600;
  color: #b3dffc;
}
.mainHome .aside {
  width: 300px;
  height: 1000px;
}

.headerHome {
  padding: 10px 19%;
  height: 35px;
  background-color: white;
  border-bottom: 1px solid 1px solid #dbdbdb;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerHome .imgLogo {
  height: 29px;
  margin-top: 8px;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.headerHome .searching img {
  height: 29px;
}
.headerHome .searching img:hover {
  cursor: pointer;
}
.headerHome .navbar ul {
  display: flex;
  align-items: center;
}
.headerHome .navbar ul li {
  padding-left: 24px;
  list-style-type: none;
}
.headerHome .navbar ul li:hover {
  cursor: pointer;
}

footer {
  height: 20%;
}

.aside {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  width: 100%;
  background-color: #fafafa;
  border: #dbdbdb 0px solid;
  border: black solid 1px;
}

/*# sourceMappingURL=style.css.map */
