@use "../base/variables" as common;

.border {
  border: common.$box-border;
}

.border-b {
  border-bottom: common.$box-border;
}

.border-radius {
  border-radius: 3px;
}

.border-circle {
  border-radius: 100%;
}
