@use "../abstracts/"as a;

#logInFooter {
    width: 100%;
    justify-self: flex-end;

    .row {
        @include a.flex-row;
        gap: 20px;
        justify-content: center;
        margin-top: 15px;
    }
}

#asideFooter {

    a::after {
        content: "\00B7";
        margin: 0 .25em 0 .25em;
    }
}