@use "../abstracts/"as a;

.rightContainer {
    width: 350px;
}

.formContainer {

    background-color: a.$bg-white;
    border: 1px solid a.$gray;
}


#loginForm {
    @include a.flex-column;
    gap: 7px;
    margin: 0px 35px;
}

//sign up

.register {
    margin-top: 10px;
    padding: 8px;
    text-align: center;
    background-color: a.$bg-white;
    border: 1px solid a.$gray;

    a {
        color: a.$blue-light;
    }
}