@use "../helpers/variables" as *;
@use "../helpers/extension" as *;

header {
  @extend %display-flex;
  border-bottom: $thinBorder;
  height: 4rem;

  ul {
    list-style-type: none;
    display: flex;

    li {
      margin-left: 2.5rem;
      font-size: 1.4rem;
    }
  }
}
