@use "../abstracts/"as a;

.histories {
    width: 100%;
}

.historiesNav {
    @include a.flex-row;
    gap: 28px;
    margin: 0 0 30px 0;
    border: 1px solid a.$gray;
    border-radius: 5px;
    padding: 20px 20px 5px 20px;
    overflow: hidden;

    .containerHist {
        @include a.flex-column;
        gap: 5px;
        align-items: center;
    }
}