// --------------------------------------------------
// components/btn
// --------------------------------------------------

@use '../abstracts' as a;

.btn{
  background: 0 0;
  border: 0;
  cursor: pointer;
  @include a.flexbox();
  @include a.align-items(center);
  @include a.justify-content(center);
  padding: 8px;

  &--primary {
    background-color: rgba(0,149,246,.3);
    background-color: rgba(var(--d69,0,149,246),.3);
    opacity: 1;

    border-radius: 4px;
    color: #fff;
    color: rgba(var(--eca,255,255,255),1);
    position: relative;
  }

  &--login{
    border: 0;
    color: #0095f6;
    color: rgba(var(--d69,0,149,246),1);
    display: inline;
    padding: 0;
    position: relative;

    &__icon{
      display: inline-block;
      margin-right: 8px;
      position: relative;
      top: 3px;
    }

    &__text{
      color: #385185;
      font-weight: 600;
    }
  }

  &__inner{
    @include a.align-items(center);
    @include a.justify-content(center);
  }

}
