@use '../abstracts' as a;
//Index page
.form-control {
    font-family: a.$font-h1;
    font-size: 0.8rem;
    margin: 5px;
    width: 270px;
    height: 40px;
    background-color: a.$color-primary;
    border: solid 1px a.$color-tertiary;
}

.form__title {
    font-family: a.$font-h1;
    font-size: 2.5rem;
    text-align: center;
}

option {
    font-family: a.$font-h1;
    font-size: a.$font-size-footer;
    color: a.$color-tertiary;
}

select {
    font-family: a.$font-h1;
    color: a.$color-tertiary;
    border: none;
    border-radius: 5px;
    margin: .5rem;
    font-size: a.$font-size-footer;
}

//Home page