$mainColor: #fafafa;
$mainBlue: #0095f6;
$mainGray: #8e8e8e;
$mainWhite: #fff;
$mainLightGray: #dbdbdb;

$mainBorder: 1px solid $mainLightGray;

@mixin borderContainer {
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  border: $mainBorder;
  background-color: $mainWhite;
}

@mixin borderContainerSmallScreen {
  margin: 0;
  border-radius: 0;
  border: none;
}

@mixin loginFlex($direction, $justifyContent, $textAlign) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  text-align: $textAlign;
}

@mixin fontStyle($fontSize, $fontWeight, $fontColor) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $fontColor;
}