@use "loginColor" as *;

$mainBorder: 1px solid $mainLightGray;

@mixin borderContainer {
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  border: $mainBorder;
  background-color: $mainWhite;
}

@mixin borderContainerSmallScreen {
  margin: 0;
  border-radius: 0;
  border: none;
}

@mixin loginFlex($direction, $justifyContent, $textAlign) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  text-align: $textAlign;
}

@mixin fontStyle($fontSize, $fontWeight, $fontColor) {
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $fontColor;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  background-color: $mainColor;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  main {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;

    .loginContainer {
      margin: 32px auto 0;
      max-width: 935px;
      padding-bottom: 32px;
      width: 100%;
      @include loginFlex(row, center, none);
      @media only screen and (max-width: 856px) {
        margin: 13px auto 0;
      }
      @media only screen and (max-width: 499px) {
        margin: 0;
      }
      .loginLeftContainer {
        background-image: url("/assets/images/phone.png");
        background-position: 0 0;
        background-size: 454px 618px;
        flex-basis: 454px;
        align-self: center;
        height: 618px;
        margin-left: -35px;
        margin-right: -15px;
        @media only screen and (max-width: 856px) {
          display: none;
        }
        .fadeImages {
          margin: 99px 0 0 151px;
          position: relative;
          img {
            position: absolute;
            top: 0;
            animation-name: fade;
            animation-iteration-count: infinite;
            animation-duration: 22s;
            &:nth-of-type(5) {
              animation-delay: 18s;
            }
            &:nth-of-type(4) {
              animation-delay: 14s;
            }
            &:nth-of-type(3) {
              animation-delay: 10s;
            }
            &:nth-of-type(2) {
              animation-delay: 6s;
            }
            &:nth-of-type(1) {
              animation-delay: 2s;
            }
          }
        }
      }
      .loginRightContainer {
        max-width: 350px;
        justify-content: center;
        margin-top: 32px;
        width: 100%;
        @media only screen and (max-width: 499px) {
          margin-top: 0;
          max-width: none;
        }
        .loginFormContainer {
          @include borderContainer;
          @media only screen and (max-width: 499px) {
            @include borderContainerSmallScreen;
          }
          .imageContainer {
            text-align: center;
            border-radius: 1px;
            #loginLogo {
              width: 180px;
              height: 55px;
              margin: 22px auto 12px;
            }
          }

          form {
            margin-bottom: 10px;
            .inputsWrapper {
              margin-top: 24px;
              @include loginFlex(column);
              .inputContainer {
                margin: 0 40px 6px;
                text-align: center;
                input {
                  font-size: 14px;
                  border: $mainBorder;
                  width: 96%;
                  background-color: $mainColor;
                  padding: 9px 0 7px 8px;
                  border-radius: 3px;
                  &::-webkit-input-placeholder {
                    font-size: 12px;
                  }
                  &:focus {
                    outline: none;
                    border: 1px solid $mainGray;
                  }
                  @media only screen and (max-width: 499px) {
                    width: 85%;
                  }
                }
                .loginButton {
                  @include fontStyle(14px, 900, $mainWhite);
                  width: 100%;
                  background-color: $mainBlue;
                  height: 30px;
                  border: none;
                  border-radius: 4px;
                  margin-top: 8px;
                  padding: 5px;
                  @media only screen and (max-width: 499px) {
                    width: 89%;
                  }
                }
              }
              .barContainer {
                @include loginFlex(row);
                margin: 10px 40px 18px;
                .grayBar {
                  background-color: $mainLightGray;
                  height: 1px;
                  position: relative;
                  flex-grow: 1;
                  top: 0.45em;
                }
                .barText {
                  margin: 0 18px;
                  @include fontStyle(13px, 600, $mainGray);
                }
              }
              .loginFacebook {
                @extend .barContainer;
                justify-content: center;
                line-height: 18px;
                .facebookIcon {
                  margin-right: 8px;
                }
                .loginFacebookText {
                  @include fontStyle(14px, 600, #385185);
                }
              }
              .forgotPassword {
                @include fontStyle(12px, none, #00376b);
                text-align: center;
              }
            }
          }
        }
        .signUpContainer {
          @include borderContainer;
          line-height: 18px;
          text-align: center;
          @media only screen and (max-width: 499px) {
            @include borderContainerSmallScreen;
          }
          p {
            margin: 13px;
            font-size: 14px;
            span {
              color: $mainBlue;
              font-weight: 600;
            }
          }
        }
        .appStoreContainer {
          margin: 10px 0;
          @include loginFlex(column, none, center);
          .appStoreText {
            p {
              font-size: 14px;
              margin: 10px 20px;
            }
          }

          .appStoreIcons {
            margin: 10px 0;
            img {
              height: 40px;
              padding: 0 2px;
            }
          }
        }
      }
    }
  }
  footer {
    margin: 24px 0 52px 0;
    @media only screen and (max-width: 856px) {
      padding: 0 16px;
    }
    .loginFooterBox {
      @include loginFlex(column);
      color: $mainGray;
      font-size: 12px;
      line-height: 14px;
      .loginFooterLists {
        @include loginFlex(column);
        margin-bottom: 12px;
        .loginFooterLine {
          @include loginFlex(row, center);
          @media only screen and (max-width: 856px) {
            flex-wrap: wrap;
          }
          .loginFooterList {
            margin: 0 8px 8px;
            select {
              border: none;
              font-size: 12px;
              width: 62px;
              color: $mainGray;
              -webkit-appearance: 1px;
              background-color: $mainColor;
            }
          }
        }
      }
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
