body main .loginContainer .loginRightContainer .loginFormContainer form .inputsWrapper .barContainer, body main .loginContainer .loginRightContainer .loginFormContainer form .inputsWrapper .loginFacebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 10px 40px 18px;
}

body main .loginContainer .loginRightContainer .loginFormContainer, body main .loginContainer .loginRightContainer .signUpContainer {
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  border: 1px solid #dbdbdb;
  background-color: #fff;
}

body {
  margin: 0;
  padding: 0;
  display: block;
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body main {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

body main .loginContainer {
  margin: 32px auto 0;
  max-width: 935px;
  padding-bottom: 32px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .loginContainer .loginLeftContainer {
  background-image: url("/assets/images/phone.png");
  background-position: 0 0;
  background-size: 454px 618px;
  -ms-flex-preferred-size: 454px;
      flex-basis: 454px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  height: 618px;
  margin-left: -35px;
  margin-right: -15px;
}

body main .loginContainer .loginLeftContainer .fadeImages {
  margin: 99px 0 0 151px;
  position: relative;
}

body main .loginContainer .loginLeftContainer .fadeImages img {
  position: absolute;
  top: 0;
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 22s;
          animation-duration: 22s;
}

body main .loginContainer .loginLeftContainer .fadeImages img:nth-of-type(5) {
  -webkit-animation-delay: 18s;
          animation-delay: 18s;
}

body main .loginContainer .loginLeftContainer .fadeImages img:nth-of-type(4) {
  -webkit-animation-delay: 14s;
          animation-delay: 14s;
}

body main .loginContainer .loginLeftContainer .fadeImages img:nth-of-type(3) {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

body main .loginContainer .loginLeftContainer .fadeImages img:nth-of-type(2) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

body main .loginContainer .loginLeftContainer .fadeImages img:nth-of-type(1) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

body main .loginContainer .loginRightContainer {
  max-width: 350px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 32px;
  width: 100%;
}

body main .loginContainer .loginRightContainer .loginFormContainer .imageContainer {
  text-align: center;
  border-radius: 1px;
}

body main .loginContainer .loginRightContainer .loginFormContainer .imageContainer #loginLogo {
  width: 180px;
  height: 55px;
  margin: 22px auto 12px;
}

body main .loginContainer .loginRightContainer .loginFormContainer form {
  margin-bottom: 10px;
}

body main .loginContainer .loginRightContainer .loginFormContainer form .inputsWrapper {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .loginContainer .loginRightContainer .loginFormContainer form .inputsWrapper .inputContainer {
  margin: 0 40px 6px;
}

body main .loginContainer .loginRightContainer .loginFormContainer form .inputsWrapper .inputContainer input {
  font-size: 14px;
  border: 1px solid #dbdbdb;
  width: 258px;
  background-color: #fafafa;
  padding: 9px 0 7px 8px;
  border-radius: 3px;
}

body main .loginContainer .loginRightContainer .loginFormContainer form .inputsWrapper .inputContainer input::-webkit-input-placeholder {
  font-size: 12px;
}

body main .loginContainer .loginRightContainer .loginFormContainer form .inputsWrapper .inputContainer input:focus {
  outline: none;
  border: 1px solid #8e8e8e;
}

body main .loginContainer .loginRightContainer .loginFormContainer form .inputsWrapper .inputContainer .loginButton {
  font-size: 14px;
  width: 100%;
  font-weight: 900;
  background-color: #0095f6;
  height: 30px;
  border: none;
  border-radius: 4px;
  margin-top: 8px;
  color: #fff;
  padding: 5px;
}

body main .loginContainer .loginRightContainer .loginFormContainer form .inputsWrapper .barContainer .grayBar {
  background-color: #dbdbdb;
  height: 1px;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  top: 0.45em;
}

body main .loginContainer .loginRightContainer .loginFormContainer form .inputsWrapper .barContainer .barText {
  margin: 0 18px;
  color: #8e8e8e;
  font-size: 13px;
  font-weight: 600;
}

body main .loginContainer .loginRightContainer .loginFormContainer form .inputsWrapper .loginFacebook {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 18px;
}

body main .loginContainer .loginRightContainer .loginFormContainer form .inputsWrapper .loginFacebook .facebookIcon {
  margin-right: 8px;
}

body main .loginContainer .loginRightContainer .loginFormContainer form .inputsWrapper .loginFacebook .loginFacebookText {
  color: #385185;
  font-weight: 600;
  font-size: 14px;
}

body main .loginContainer .loginRightContainer .loginFormContainer form .inputsWrapper .forgotPassword {
  color: #00376b;
  font-size: 12px;
  text-align: center;
}

body main .loginContainer .loginRightContainer .signUpContainer {
  line-height: 18px;
  text-align: center;
  border-radius: 1px;
}

body main .loginContainer .loginRightContainer .signUpContainer p {
  margin: 13px;
  font-size: 14px;
}

body main .loginContainer .loginRightContainer .signUpContainer p span {
  color: #0095f6;
  font-weight: 600;
}

body main .loginContainer .loginRightContainer .appStoreContainer {
  margin: 10px 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .loginContainer .loginRightContainer .appStoreContainer .appStoreText p {
  font-size: 14px;
  margin: 10px 20px;
}

body main .loginContainer .loginRightContainer .appStoreContainer .appStoreIcons {
  margin: 10px 0;
}

body main .loginContainer .loginRightContainer .appStoreContainer .appStoreIcons img {
  height: 40px;
  padding: 0 2px;
}

body footer {
  margin: 24px 0 52px 0;
}

body footer .loginFooterBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #8e8e8e;
  font-size: 12px;
  line-height: 14px;
}

body footer .loginFooterBox .loginFooterLists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 12px;
}

body footer .loginFooterBox .loginFooterLists .loginFooterLine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer .loginFooterBox .loginFooterLists .loginFooterLine .loginFooterList {
  margin: 0 8px 8px;
}

body footer .loginFooterBox .loginFooterLists .loginFooterLine .loginFooterList select {
  border: none;
  font-size: 12px;
  width: 62px;
  color: #8e8e8e;
  -webkit-appearance: 1px;
  background-color: #fafafa;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  33% {
    opacity: 1;
  }
  53% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/*# sourceMappingURL=loginStyle.css.map */