* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 16px;
  background-color: #FAFAFA;
}

body > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85%;
}

section.left {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

div.left__mockup > img {
  height: 480px;
}

div.left__containerImages {
  position: absolute;
  height: 352px;
  margin: 15px;
  z-index: 2;
}

div.left__containerImages > img {
  height: 356px;
  right: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  visibility: visible;
  width: 200px;
}

section.right {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

main.login__login {
  width: 50%;
  max-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.login {
  width: auto;
  height: auto;
  border: 1px solid #DBDBDB;
  margin-bottom: 0.5rem;
  padding: 1.5rem;
  background-color: #FFFFFF;
}

div.login__img {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.login__img > img {
  width: 60%;
}

form.login__form {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form.login__form > input {
  width: auto;
  height: auto;
  border: 1px solid #DBDBDB;
  padding: 0.5rem;
  margin-bottom: 0.4rem;
  color: #8E8E9C;
}

form.login__form > button {
  width: 100%;
  border: 1px solid #DBDBDB;
  padding: 0.4rem 0;
  margin-bottom: 0.4rem;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 149, 246, 0.3);
}

div.create {
  width: 100%;
  height: 10%;
  border: 1px solid #DBDBDB;
  margin-bottom: 0.5rem;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.separator {
  display: flex;
  align-items: center;
  align-content: center;
  color: grey;
}

div.line {
  height: 1px;
  width: 100%;
  background-color: #dbdbdb;
}

div#leftLine {
  margin-right: 1.5rem;
  margin-left: 2.5rem;
}

div#rightLine {
  margin-left: 1.5rem;
  margin-right: 2.5rem;
}

p.passwordForget {
  color: #385185;
}

div.loginFacebook {
  display: flex;
  color: #385185;
  font-weight: bold;
  margin: 1rem 0;
  justify-content: center;
}

div.loginOptions {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

div.loginFacebook p {
  margin-left: 0.5rem;
}

div.download p {
  margin-bottom: 20px;
  margin-top: 15px;
}

div.create a {
  text-decoration: none;
}

div.stores {
  display: flex;
  flex-container: row;
}

div.stores > a > img {
  width: 135px;
  height: 40px;
  margin: 0.4rem;
}

footer {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > div {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > div > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer > div > div > div {
  margin: 0 0.5rem 0.5rem 0.5rem;
}

header {
  width: 100%;
  height: 10%;
  background-color: #FFFFFF;
  border-bottom: solid 1px #DBDBDB;
  margin: 0 0 2.5rem 0;
}

main.main__main {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: row;
}

section.stories {
  width: 70%;
  height: 100%;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin-right: 1.2rem;
}

section.recommendations {
  width: 30%;
  height: 100%;
  margin-top: 1.2rem;
  background-color: #FAFAFA;
  padding: 0 1.5rem;
}

div.main__stories {
  width: 100%;
  max-width: 60%;
  height: 15%;
  background-color: #FFFFFF;
  margin: 0 0 2.5rem 0;
  border: 1px solid #DBDBDB;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

div.storie {
  display: flex;
  flex-direction: column;
  text-align: center;
}

div.main__stories img {
  border: 1px solid white;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.33, #0eadad), color-stop(0.67, aqua));
  background-image: -moz-linear-gradient(center bottom, #0eadad 33%, aqua 67%);
  padding: 2px;
  width: 60px;
  height: 60px;
  margin-left: 1.5rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
}

div.main__posts {
  width: 60%;
  height: 10%;
  background-color: #FFFFFF;
  border: 1px solid #DBDBDB;
}

#user {
  font-weight: bold;
}

.recommendations .change__user button {
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 1rem;
  color: #0095F6;
  font-weight: bold;
}

div.change__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.change__user img {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}

div.sugerencias {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

div.sugestedUsers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.sugerencias h5 {
  color: grey;
}

div.sugerencias button {
  border: none;
  cursor: pointer;
  background-color: white;
}

div.sugerencias_users {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

div.sugerencias_users img {
  border-radius: 50%;
  width: 3.5em;
  height: 3.5rem;
}

div.sugerencias_users button {
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 2rem;
  color: #0095F6;
  font-weight: bold;
}

/*aa*/

/*# sourceMappingURL=style.css.map */
