* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 16px;
  background-color: #FAFAFA;
}

body > div {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 85%;
}

section.left {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

div.left__mockup > img {
  height: 480px;
}

div.left__containerImages {
  position: absolute;
  height: 352px;
  margin: 15px;
  z-index: 2;
}

img.imagesFixed {
  height: 356px;
  right: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 200px;
}

img.imagesProgress {
  opacity: 1;
  transition: opacity 1.8s ease-in;
}

img.imagesOn {
  height: 356px;
  right: 0;
  opacity: 1;
  position: absolute;
  top: 0;
  width: 200px;
}

section.right {
  width: 100%;
  height: 100%;
  padding: 0.5rem;
}

main.login__login {
  width: 50%;
  max-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.login {
  width: auto;
  height: auto;
  border: 1px solid #DBDBDB;
  margin-bottom: 0.5rem;
  padding: 1.5rem;
  background-color: #FFFFFF;
}

div.login__img {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.login__img > img {
  width: 60%;
}

form.login__form {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form.login__form > input {
  width: auto;
  height: auto;
  border: 1px solid #DBDBDB;
  padding: 0.5rem;
  margin-bottom: 0.4rem;
  color: #8E8E9C;
}

form.login__form > button {
  width: 100%;
  border: 1px solid #DBDBDB;
  padding: 0.4rem 0;
  margin-bottom: 0.4rem;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 149, 246, 0.3);
}

div.create {
  width: 100%;
  height: 10%;
  border: 1px solid #DBDBDB;
  margin-bottom: 0.5rem;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.download {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.separator {
  display: flex;
  align-items: center;
  align-content: center;
  color: grey;
}

div.line {
  height: 1px;
  width: 100%;
  background-color: #dbdbdb;
}

div#leftLine {
  margin-right: 1.5rem;
  margin-left: 2.5rem;
}

div#rightLine {
  margin-left: 1.5rem;
  margin-right: 2.5rem;
}

p.passwordForget {
  color: #385185;
}

div.loginFacebook {
  display: flex;
  color: #385185;
  font-weight: bold;
  margin: 1rem 0;
  justify-content: center;
}

div.loginOptions {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

div.loginFacebook p {
  margin-left: 0.5rem;
}

div.download p {
  margin-bottom: 20px;
  margin-top: 15px;
}

div.create a {
  text-decoration: none;
}

div.stores {
  display: flex;
  flex-direction: row;
}

div.stores > a > img {
  width: 135px;
  height: 40px;
  margin: 0.4rem;
}

footer {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > div {
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer > div > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer > div > div > div {
  margin: 0 0.5rem 0.5rem 0.5rem;
}

header {
  width: 100%;
  height: 50px;
  background-color: #FFFFFF;
  border-bottom: solid 1px #DBDBDB;
  margin: 0 0 2.5rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

div.main__header--logo {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
}

div.main__header--logo > img {
  max-width: 140px;
  height: 50px;
  margin-left: 11rem;
  padding: 0 0 0 1rem;
}

div.main__header--search {
  width: 180px;
  padding: 0.2rem;
  border: 1px solid #DBDBDB;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.main__header--search > i {
  font-size: 1rem;
}

div.main__header--search > i > input {
  border: none;
  padding: 0.5rem;
}

div.main__header--search > i > input:hover {
  border: none;
}

div.header__icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 7rem;
}

header > div > div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

header > div > div > img {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5rem;
}

header > div > div > i {
  font-size: 1.8rem;
  margin-right: 1.8rem;
}

main.main__main {
  width: 100%;
  height: calc(100vh - 80px);
  background-color: red;
  display: flex;
  flex-direction: row;
}

section.stories {
  width: 70%;
  height: 100%;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 0.5rem;
}

section.stories::-webkit-scrollbar {
  width: 4px;
  height: 8px;
}

section.stories::-webkit-scrollbar-thumb {
  background: #CCC;
  border-radius: 4px;
}

section.stories::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

section.stories::-webkit-scrollbar-track {
  background: #b3b3b3;
  border-radius: 4px;
}

section.recommendations {
  width: 30%;
  height: auto;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

div.main__stories {
  width: inherit;
  height: 200px;
  background-color: #FFFFFF;
  margin: 0 0 2.5rem 0;
  border: 1px solid #DBDBDB;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  padding: 4rem 0;
}

div.main__stories::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

div.main__stories::-webkit-scrollbar-thumb {
  background: #CCC;
  border-radius: 4px;
}

div.main__stories::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

div.main__stories::-webkit-scrollbar-track {
  background: #b3b3b3;
  border-radius: 4px;
}

div.storie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 70px;
  height: 85px;
}

div.storie div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 4px solid -webkit-gradient(linear, left bottom, left top, color-stop(0.33, #833ab4), color-stop(0.33, #fd1d1d), color-stop(0.33, #fcb045));
  width: 4.25rem;
  height: 4.25rem;
  margin: 0.75rem;
  border-radius: 50%;
}

div.storie > div > img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

div.main__posts {
  width: inherit;
  height: 472px;
  background-color: #FFFFFF;
  border: 1px solid #DBDBDB;
  margin: 0 0 1.5rem 0;
}

div.main__posts--container {
  width: 100%;
  height: 90%;
}

div.main__posts--user {
  width: auto;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
}

div.main__posts--userName {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.main__posts--userImg {
  margin: 0 1rem 0 0;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

div.main__posts--userImg > img {
  width: inherit;
  max-width: 100%;
  height: inherit;
  max-height: 100%;
  border-radius: 20px;
}

div.main__posts--img {
  width: 100%;
  height: 70%;
  background-color: red;
  display: flex;
  flex-direction: row;
}

div.main__posts--img > img {
  width: inherit;
}
div.main__posts--content {
  width: 100%;
  height: 20%;
}

div.main__posts--contentIcons {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0rem 0rem;
}

div.main__posts--contentIcons > div > i {
  font-size: 1.8rem;
  margin: 0.5rem 1rem;
}

div.main__posts--playback {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 0.5rem 1rem;
}

span.main__posts--generalBold {
  margin: 0 0.5rem 0 0;
  font-weight: bold;
}

div.main__posts--userTitle {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 0 1rem;
  width: auto;
  height: auto;
}

div.main__posts--coments {
  width: 100%;
  height: 10%;
  border-top: 1px solid #DBDBDB;
}

div.main__posts--coments > div {
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
  padding: 0.5rem 1rem;
  justify-content: flex-start;
  align-items: center;
}

div.main__posts--coments > div > i {
  font-size: 1.5rem;
}

input.main__posts--comentsInput {
  width: 100%;
  height: 20%;
  padding: 0.5rem;
  margin: 0 0 0 0.5rem;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #DBDBDB;
}

#user {
  font-weight: bold;
}

.recommendations.change__user button {
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 1rem;
  color: #0095F6;
  font-weight: bold;
}

div.change__user {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.change__user img {
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
}

div.sugerencias {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}

div.sugestedUsers {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.sugerencias h5 {
  color: grey;
}

div.sugerencias button {
  border: none;
  cursor: pointer;
  background-color: white;
}

div.sugerencias_users {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

div.sugerencias_users img {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5rem;
}

div.sugerencias_users button {
  border: none;
  background-color: white;
  cursor: pointer;
  margin-left: 2rem;
  color: #0095F6;
  font-weight: bold;
}

/*aa*/

/*# sourceMappingURL=style.css.map */
