body{
  margin:0px;
  display:block;
}
.Navbar{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, 1fr);
  border-bottom: 1px solid #ccc;
  .letterIg{
  grid-column: 1/3;
  grid-row: 1/1;
  width: 20%;
  margin: 0.5em;
  align-items: center;
  object-fit: contain;
  }
  .fa-search{
    grid-column: 2/2;
    font-size: 16px;
    padding: 14px;
    margin: 10px 0px 1px 0px;
    border-top: 1px solid #ccc;
    border-radius:3px;
    width: 60%;
  }
  .icons-section{
    grid-column:3/3;
    width: 100px;
    padding: 20px 0px 3px 0px;
    object-fit: contain;
  }
  #facon{
    flex-direction: column;
    width: 30%;
    height:20%;
    padding: auto;
  }
  .user-avatar{
    border: 1px solid transparent;
    border-radius: 500px;
    background: -webkit-linear-gradient(bottom,red, blue);
    width: 20%;
    object-fit: cover;
  }
}
.container{
  display: flex;
  height: 3rem;
  align-items:center;
  border: solid 2px #ccc;
  padding: 40px 0;
  width: 100%;
  object-fit: cover;
  overflow-x:auto;
  overflow-y: hidden;
  scroll-behavior: center;

  .stories-section{
    display: flex;
    border: 0;
    cursor: pointer;
    overflow-y: hidden;
  }
  .storie-user-story{
    padding: 5px;
    box-sizing: border-box;
    width:120px;
    height:120px;

  }
  .storie-user-story img{
    width: 100px;
    height: 100px;
    object-fit:cover;
    padding: 0;
    margin: 0;
    border: 3px solid;
    border-radius: 500%;
    background: -webkit-linear-gradient(bottom,red, blue, magenta);
  }
}

