@use '../../abstracts/utils';

.footer {
  color: #9F8E8E;
  justify-self: flex-end;
  font-size: 0.75rem;

    &__info {
      display: flex;
      justify-content: center;
      align-items: center;
    }
}

.info__lang-selector {
  border: 1px transparent;
  background-color: #FAFAFA;
  color: #9F8E8E;
  cursor: pointer;
}

.links__container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  line-height: 1.7;
}

.links__link {
  @extend %remove-link-style !optional;
  list-style-type: none;

    &:not(:last-child) {
      padding-right: 1rem;
    }
}