@use "../abstracts/abstractsIndex" as abs

.main
    background-color: #fafafa

#newsContentBar
    background-color: #fff
    border: 1px solid #dbdbdb
    display: flex 
    max-width: 614px
    width: 100%
    border-radius: 3px
    padding: 16px 0
    margin: 0 0 24px
    .profileLinkContainer
        padding-left: 15px
        height: 90px
        width: 85px
    .profileLinkBtn
        border: none
        background-color: #fff
        padding: 2px
    .profileName
        text-align: center
        font-size: 12px
        color: #262626

.roundFrame
    box-sizing: content-box
    height: 66px
    width: 66px
    background-image: url(../img/bundle.png)
    background-repeat: no-repeat 
    background-position: -305px -65px
    .profilePic
        height: 100%
        img
            height: 100%
            padding: 5px
            border-radius: 40px

.post
    background-color: #fff
    border: 1px solid #dbdbdb
    display: flex 
    flex-direction: column
    margin-bottom: 60px
    .postHeader
        display: flex
        height: 60px
        padding: 16px
        .profilePic
            height: 32px
            width: 32px
            img
                height: 100%
                border-radius: 20px
        .postOptions
            position: relative
            margin-left: auto
            align-self: flex-end
            font-size: 30px
        .postProfileName
            padding-left: 15px
            font-weight: 600
            font-size: 14px
    .postImg
        max-width: -webkit-fill-available
    .postLowerOptions
        display: flex
        height: 40px
        margin-top: 4px
        padding: 0 16px
        button
            border: none
            background: #fff
        .archiveBtn
                margin-left: auto
    .addCommentContainer
        display: flex
        height: 55px
        padding: 0 16px
        border-top: 1px solid #efefef
        .emotes
            align-self: center
            padding-right: 10px
        input
            border: none
            font-size: 14px
            outline: none
        .postCommentBtn
            align-self: center
            margin-left: auto
            color: #0095f6
            opacity: 0.3
            font-size: 14px    
            font-weight: 600

.likes
    @include abs.allPaddings(0, 16px, 0, 16px)
    font-size: 14px
    font-weight: bold

.profile
    @include abs.allPaddings(0, 16px, 0, 16px)
    color: #000
    font-size: 14px
    font-weight: bold

.comment
    display: flex
    width: 100%

.heartComment
    justify-content: flex-end

.postTime
    @include abs.allPaddings(0, 16px, 0, 16px)
    font-size: 14px
    color:#969696