@use "../abstracts/abstractsIndex" as abs

#searchPeopleInput
    margin-top: 15px
    padding: 7px
    @include abs.size(215px,28px)
    background: #f5f5f5
    border: 1px solid  #ececec

.navIcon
    margin-left: 22px
    @include abs.size(22px,22px)

#profileIconImg
    @include abs.size(22px,22px)
    border: 1px transparent 
    border-radius: 11px