@use "../abstracts/abstractsIndex" as abs

.suggestionsBarProfilePic
    @include abs.size(56px,56px)

#yourProfileName
    color: rgb(38,38,38)
    font-size:14px
    font-weight: bold

#yourRealName
    color: #969696

#switch
    font-size:14px
    color:#0095f6