
@use "../1-base/base-index" as v;

.main-content {
  margin: 5vh;
  
  .main-content__mockup {
    padding: 2.0625rem;
  }
    
    @media all and(max-width: 900px) {
      .main-content__mockup {
        display: none;
      }
  }

  .login {
    border: 1px solid v.$border-color;
    width: 21.875rem;
    min-height: 23.75rem;
    text-align: center;
    padding: 1.25rem;
    background-color: v.$primary-color;
  
    .logo-instagram {
      width: 184px;
      margin-bottom: 30px;
    }
  
    input {
      margin-bottom: 0.1875rem;
      height: 2.375rem;
      width: 16.75rem;
      background-color: v.$background-color;
      border: 1px solid v.$border-color;
      padding: 0 0.875rem;
      border-radius: 0.1875rem;
      ;
    }

     .or {
     width: 100%;

     .left-line {
      background-color: v.$secondary-text-color;
      height: 1px;
      width: 110px;
    }

    .right-line {
      background-color: v.$secondary-text-color;
      height: 1px;
      width: 110px;
    }
   }
  
    .link {
      margin-top: 1.25rem;
      color: v.$links-color;
      text-decoration : none;
      font-family: v.$primary-font;

      img {
        margin-right: 10px;
        border-radius: 3px;
      }
    }
  }
  .create-account {
    width: 21.875rem;
    height: 4rem;
    background-color: v.$primary-color;
    border: 1px solid v.$border-color;
    margin-top: 20px;
    
  }

}


