@use "../1-base/base-index" as v;

.header {
  width: 100%;
  padding: 10px;
  background-color: v.$primary-color;
  position: relative;
  top: 0; 
  border-bottom: 1px solid v.$border-color;

  .header__controllers {
    width: 150px;
  }
}

.post {
  border: 1px solid v.$border-color;
}