.registerForm {
    margin: 5%;
    vertical-align: middle;
    text-align: center;
    margin-right: 28%;
    border: $globalBorder;
    width: 60%;
    height: 10%;
    white-space: nowrap;
    padding: 3%;


  }