@import "./root.scss";

.left-login {
  align-self: center;
  background-image: url(../img/43cc71bb1b43.png);
  background-position: 0 0;
  background-size: 454px 618px;
  height: 618px;
  margin-left: -35px;
  margin-right: -15px;
  flex-basis: 454px;
  position: relative;
}

.right-login {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  max-width: 350px;
  flex-grow: 1;
  align-items: stretch;
  justify-content: center;
}

.box {
  background-color: white;
  border: 1px solid $border;
  border-radius: 1px;
  padding: 10px 0;
  margin-bottom: 10px;
}

.main-logo {
  background-repeat: no-repeat;
  background-position: 0;
  height: 51px;
  width: 175px;
  background-image: url(../img/Instagram-Logo.png);
  background-size: cover;
}

.logo-fb {
  background-image: url(../img/fb.png);
  margin-right: 8px;
  display: inline-block;
  position: relative;
  top: 3;
  background-repeat: no-repeat;
  height: 16px;
  width: 16px;
  background-size: cover;
}

.blue-font {
  color: $fb;
}

.font14 {
  font-size: 14px;
  font-weight: 600;
}

.font12 {
  font-size: 12px;
  font-weight: 500;
}

.app-store {
  background-image: url(../img/AppleStore.png);
  margin-right: 8px;
}

.google-play {
  background-image: url(../img/googlePlay.png);
}

.font-prim {
  color: $black-font;
}

.fw400 {
  font-weight: 400;
}

.get {
  line-height: 18px;
  margin: 10px 20px;
  text-align: center;
  font-weight: 400;
}

.icons-div {
  margin: 10px 0;
  align-items: stretch;
}

.h40 {
  height: 40px;
}

.map-foot {
  margin: -2px 8px 9px;
  color: $grey-font;
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
}

.legal-cont {
  margin: 12px 0;
}

.legal-foot {
  color: $grey-font;
  font-size: 12px;
  line-height: 14px;
}

.sel {
  margin: -2px 0 -3px;
  border: none;
  background-color: transparent;
}

.ml16 {
  margin-left: 16px;
}

.img-inside {
  margin: 99px 0 0 151px;
  height: 427px;
  width: 240px;
}
