@mixin circleBorderRadius($borderWidth, $borderColor) {
  border: $borderWidth solid $borderColor;
  border-radius: 50%;
}

@mixin logButton($globalBorder, $inactiveButtonColor) {
  border: none;
  height: 30px;
  color: white;
  font-weight: 400;
  border: 5px $globalBorder solid;
  border-radius: 5px;
  width: 76%;
  margin-top: 4%;
  background-color: $inactiveButtonColor;
}
