$backgroundColor: #fafafa;
$boxBackground: white;
$globalBorder: 2px #dbdbdb solid;
$activeButtonColor: #0095f6;
$inactiveButtonColor: #b2dffc;
$fbTextColor: darkblue;

$brColorStory: magenta;
$brColor: black;
$thinBorder: 1px solid rgba(0, 0, 0, 0.2);
$xPadding: 1.5rem;
$yPadding: 0.6rem;
$widthPosts: 700px;
