@use '../abstract' as mixin;

%grid {
  display: grid;
  grid-gap: 1rem;
}

.grid-2-to-1 {
  @extend %grid;
  grid-template-columns: 2fr 1fr;

  @include mixin.is-tablet {
    grid-template-columns: auto;
  }
}

.grid-3-to-3 {
  @extend %grid;
  grid-template-columns: repeat(3, 1fr);
}