@use '../abstract' as var;

.header {
  position: fixed;
  top: 0;
  overflow: hidden;
  @include var.flex(flex, center, center);
  width: 100%;
  min-height: var.$height-header;
  background-color: var.$color-white;
  border-bottom: 1px solid var.$color-grey-border;

  @include var.is-tablet {
    border: none;
  }

  &__inner {
    @include var.flex(flex, between, center);
    max-width: var.$width-desktop;
    width: 100%;

    @include var.is-tablet {
      padding: 0 1rem;
    }
  }
}