@use '../abstract' as var;

.container {
  margin: auto;
  max-width: var.$width-desktop;
  min-height: 100vh;
  overflow: hidden;
}

.column {
  @include var.flex(flex);
  margin-top: var.$height-header;

  @include var.is-tablet {
    margin-top: var.$height-header + 2rem;
  }

  &__main {
    width: 65%;

    @include var.is-tablet {
      width: 100%;
    }
  }

  &__second {
    width: 30%;
    //outline: 2px dotted blue;
  }
}
