
@media (max-width: 1100px){
    .right-col, .search-box{
        display: none;
    }
    .navbar{
        width: 80%;
    }

    .nav-wrapper{
        width: max-content;
        justify-content: center;

    }
    .wrapper{
        display: block;
        width: 90%;
    }
    .center-content{
        width: max-content;
    }
}

@media (max-width: 500px){
    .nav-items .icon{
        margin: 0 5px;
    }
    .post-image{
        height: 300px;
    }
    .right-section{
        justify-content: left;
    }
}