$login-btn-color: #b2dffc;
$background-page: #fafafa;
$background-login: #ffffff;
$login-border: #dbdbdb;
$facebook-color: #38569e;
$light-blue: #18a1f7;
$grey-font: #8e8e99;

$border-card: 1px solid lightgrey;