/* ===== Flex Direction Classes ===== */

$direction-opts: row, column, row-reverse, column-reverse;

@each $value in $direction-opts {
	.flex-#{$value} {
		flex-direction: $value;
	}
}

/* ===== Flex Wrap Classes  ===== */

$wrap-opts: wrap, wrap-reverse;

@each $value in $wrap-opts {
	.flex-#{$value} {
		flex-wrap: $value;
	}
}

/* ===== Flex Main Axis Alignment Classes ===== */

$justify-content-opts: start, end, center, space-between, space-evenly, space-around;

@each $value in $justify-content-opts {
	.justify-content-#{$value} {
		justify-content: $value;
	}
}

/* ===== Flex Cross Axis Alignment Classes ===== */

$align-items-opts: start, end, center, stretch;

@each $value in $align-items-opts {
	.align-items-#{$value} {
		align-items: $value;
	}
}

/* =====~ Flex Content Alignment Classes ===== */

$align-content-opts: start, end, center, space-between, space-evenly, space-around;

@each $value in $align-content-opts {
	.align-content-#{$value} {
		align-content: $value;
	}
}
