@use "sass:color";

@mixin box($width: 100%, $height: auto, $padding: 0, $margin: 0, $set-block: true) {
	@if $set-block {
		display: block;
	}

	width: $width;
	height: $height;
	padding: $padding;
	margin: $margin;
};