

main {

  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: $backgroundColor;
  font-weight: 600;

  .leftContainer {
    width: 50%;
    height: 800px;
    background-color: $backgroundColor;
    padding-top: 5%;
    #leftImage {
      margin-left: 30%;
    }
  }

  .rightContainer {
    width: 50%;
    height: 800px;
    background-color: $backgroundColor;
    text-align: center;
  }


  #alternativeLogin {
    cursor: pointer;
    margin-top: 8%;
    color: $fbTextColor;
  }

  #passForbidden {
    color: $fbTextColor;
    margin-top: 3%;
    font-size: 14px;
  }

  
}
