

main {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: $backgroundColor;
  font-weight: 600;

  .leftContainer {
    width: 50%;
    height: 800px;
    background-color: $backgroundColor;
    padding-top: 5%;
    #leftImage {
      margin-left: 30%;
    }
  }

  .rightContainer {
    width: 50%;
    height: 800px;
    background-color: $backgroundColor;
    text-align: center;
  }

  .downloadBox {
    display: flex;
    width: 120px;
    flex-direction: row;
    white-space: nowrap;

    #downloadText{
      
    }
    .downloadButton {
      display: flex;
      flex-direction: row;
      margin-top: 25px;
      flex-grow: 2;
      height: 35px;
    }
  }

  #alternativeLogin {
    cursor: pointer;
    margin-top: 8%;
    color: $fbTextColor;
  }

  #passForbidden {
    color: $fbTextColor;
    margin-top: 7%;
    font-size: 14px;
  }

  
}
