@use "base/mixins" as *;

.downloadBox {
    display: flex;
    width: boxWidth();
    flex-direction: row;
    white-space: nowrap;
    color:green;

    #downloadText{
      color: green;
    }
    .downloadButton {
      display: flex;
      flex-direction: row;
      margin-top: 25px;
      flex-grow: 2;
      height: 35px;
    }
  }
