$main-brackground: RGB(250, 250, 250);
$white-color: rgb(255, 255, 255);
$grey-color: rgb(128, 128, 128);
$borderCard-color: RGB(219, 219, 219);
$button-color: RGB(178, 223, 252);
$facebook-color: RGB(56, 81, 133);