$mobileBackgroundImage: url("../../public/assets/img/mobileBackground.png");

$logosBackgroundImage: url("../../public/assets/img/logos.png");

$logosBackgroundImage2: url("../../public/assets/img/logos2.png");