
@media only screen and (max-width: 800px) {
    .slide-container {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .main-content {
        margin-top: 0;
    }

    .box {
        border: 0;
        background-color: transparent;
    }
}